<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>布尔模型</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../../css/styles.min.css}">
    <link rel="stylesheet" th:href="@{../../css/styles.css}">

</head>

<body>
<nav class="navbar navbar-light navbar-expand-md" style="background-color:rgb(47,85,151);position:relative;">
    <div class="container-fluid"><a class="navbar-brand" href="../../index.html" style="width:340px;background-image:url(../../img/logo.png);background-size:cover;height:40px;padding:10px 0px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
        <div
                class="collapse navbar-collapse" id="navcol-1" style="/*text-align:right;*/position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link" href="../../index.html">首页</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link active" href="../../IRforCN.html">信息检索实验</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link" href="../../NLP.html">NLP实验</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link" href="../../explanation.html">文档与支持</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a href="../../IRforEN/informationretrieval/boolean.html" class="navbar-brand brand">中文</a>
        <div
                class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li role="presentation" class="nav-item align-self-center" style="margin:0 5px;"><a href="../preProcessing.html" class="nav-link" style="color:rgb(0,0,0);">文档预处理</a></li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../invertedIndex.html" class="nav-link active" style="color:rgb(0,0,0);">倒排索引表</a></li>
                <li class="dropdown align-self-center" style="margin:0 5px;"><a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle nav-link dropdown-toggle" style="color:rgb(0,0,0);font-style:normal;font-family:Microsoft Yahei;font-weight:normal;margin:0;height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;">文档检索</a>
                    <div
                            role="menu" class="dropdown-menu" style="background-color:rgba(199,199,199,0.5);"><a role="presentation" href="boolean.html" class="dropdown-item">布尔模型</a><a role="presentation" href="vectorSpaceModel.html" class="dropdown-item">向量空间模型</a><a role="presentation" href="probabilityModel.html" class="dropdown-item">概率检索模型</a><a role="presentation" href="languageModel.html" class="dropdown-item">语言模型</a></div>
                </li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../performance.html" class="nav-link" style="color:rgb(0,0,0);">检索模型性能</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding:0 55px 0 30px;">
                <div class="row" style="margin:0px;">
                    <div class="col" style="padding:0;">
                        <div id="searchItem" style="width:100%;">
                            <div style="display:flex;height:40px;margin:10px 0;">
                                <button id="plus" class="btn btn-primary" type="button" style="height:38px;width:38px;padding:6px;background-color:#4472c4;"><i class="fa fa-plus" style="font-size:16px;"></i></button>
                                <p style="height:35px;line-height:35px;margin:0 15px;vertical-align:middle;font-size:16px;">基础条件</p><input name="term" type="text" style="height:35px;display:inline-flex;border:solid 1px;vertical-align:middle;flex-grow:1;" /></div>
                            <div style="display:flex;height:40px;margin:10px 0;">
                                <button class="btn btn-primary" type="button" onclick="deleteElement(this)" style="height:38px;width:38px;padding:6px;background-color:#4472c4;"><i class="fa fa-minus" style="font-size:16px;"></i></button><select name="operator" style="height:35px;margin:0 15px;border:solid 1px;vertical-align:middle;width:66px;font-family:Times New Roman;font-size:16px;"><option value="and">and</option><option value="or" selected>or</option><option value="not">not</option></select><input
                                    name="term"   type="text" style="height:35px;display:inline-flex;border:solid 1px;vertical-align:middle;flex-grow:1;" /></div>
                            <div style="display:flex;height:40px;margin:10px 0;">
                                <button class="btn btn-primary" type="button" onclick="deleteElement(this)" style="height:38px;width:38px;padding:6px;background-color:#4472c4;"><i class="fa fa-minus" style="font-size:16px;"></i></button><select name="operator" style="height:35px;margin:0 15px;border:solid 1px;vertical-align:middle;width:66px;font-family:Times New Roman;font-size:16px;"><option value="and">and</option><option value="or" selected>or</option><option value="not">not</option></select><input
                                    name="term"    type="text" style="height:35px;display:inline-flex;border:solid 1px;vertical-align:middle;flex-grow:1;font-family:Times New Roman;" /></div>
                        </div>

                        <div style="display:flex;height:40px;margin:10px 0;">
                            <button id="researchOfBollean" class="btn btn-primary" type="button" style="background-color:#4472c4;font-size:16px;">检索</button>
                            <p id="boolExpr" style="margin:0 20px;font-size:20px;font-family:Microsoft Yahei;line-height:40px;height:40px;color:rgba(27,154,247,0.95);">检索表达式</p>
                        </div>
                    </div>
                </div>
                <div style="margin:37px 0 0 0;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-1" class="nav-link active">简介</a></li>
                        <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-2" class="nav-link">流程</a></li>
                        <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-3" class="nav-link">优劣</a></li>
                    </ul>
                    <div class="tab-content suojin" style="height:250px;">
                        <div role="tabpanel" class="tab-pane active" id="tab-1">
                            <p style="text-align: justify">布尔模型是基于集合论和布尔代数的一种简单检索模型，它的特点是查找那些对于某个查询词返回为“真”的文档。在该模
                                型中，一个查询词就是一个布尔表达式，包括关键词以及逻辑运算符。由于文档必须严格符合检索词的要求才能够被检索
                                出来，因此布尔检索模型又被称为“完全匹配检索”(Exact-Match Retrieval)。</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-2">
                            <p style="text-align: justify">
                                1.基于文档语料建立倒排索引；<br />
                                2.根据检索词获取倒排索引中对应的postings，更新结果列表；<br />
                                3.根据检索表达式中的逻辑运算符对结果列表和相应postings中的文档ID进行逻辑操作，更新计算结果至结果列表中，
                                循环以上操作至最后一个检索词；<br />
                                4.返回检索结果列表，即满足用户检索需求的文档。<br />
                                <br />
                                <br />
                                <br /></p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-3">
                            <p style="text-align: justify"><strong>优势：</strong><br />1.  简单，简化了复杂的检索过程<br />2.  易于理解，结构化的提问方式与用户的思维习惯一致<br /><strong>劣势：</strong><br />1.  对检索结果平等对待，不能按照用户定义的重要性排序输出<br />2.  完全匹配可能导致检出的文档过多或过少，难以控制检索结果的输出量<br />3.  很难满足用户复杂的需求，对用户的检索技能有较高的要求</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding:0 30px 0 55px;">
                <div style="float:none;margin:auto;">
                    <h3 class="text-center" style="/*float:right;*/height:40px;line-height:40px;font-size:20px;padding:0;margin:0;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;">检索结果</h3>
                </div>
                <div id="results" class="suojin text" style="height:450px;margin:0;"></div><button id="return" class="btn btn-primary" type="button" style="background-color:#4472c4;font-size:16px;float:right;margin:10px 0;">返回</button></div>
        </div>
    </div>
</div>
<footer style="color:rgb(47,85,151);width:100%;height:35px;line-height:35px;background-color:#2f5597;background-position:bottom;margin:0px;padding:0;position:fixed;bottom:0;">
    <p class="text-center" style="font-family:微软雅黑;color:rgb(255,255,255);">©copyright 2018 武汉大学信息检索与知识挖掘研究所 </p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
<script type="text/javascript">

    function deleteElement(Obj){
        Obj.parentNode.parentNode.removeChild(Obj.parentNode);
    }

    $("#plus").click(function () {
        $("#searchItem").append(
            "<div style=\"display:flex;height:40px;margin:10px 0;\">\n" +
            "    <button class=\"btn btn-primary\" type=\"button\" onclick=\"deleteElement(this)\" style=\"height:38px;width:38px;padding:6px;background-color:#4472c4;\"><i class=\"fa fa-minus\" style=\"font-size:16px;\"></i></button><select name=\"operator\" style=\"height:35px;margin:0 15px;border:solid 1px;vertical-align:middle;width:66px;font-family:Times New Roman;font-size:16px;\"><option value=\"and\">and</option><option value=\"or\" selected>or</option><option value=\"not\">not</option></select><input\n" +
            "    name=\"term\"   type=\"text\" style=\"height:35px;display:inline-flex;border:solid 1px;vertical-align:middle;flex-grow:1;\" /></div>\n")
    })
</script>

<script type="text/javascript">
    var boolResults;
    var $results = null;
    $(function() {
        $("#return").click(function () {
            $("#results").text("");
            $("#results").append($results);
        });//返回上一步


        //检索 button
        $("#researchOfBollean").click(function() {
            var terms = new Array(); //提交的检索词
            var operators = new Array();//提交的逻辑运算符
            var boolExpr = "";//提交的检索表达式（以上两者构成）

            var input_arr = document.getElementsByName("term");
            var select_arr = document.getElementsByName("operator");

            for(i=0;i<input_arr.length;i++){
                var term = input_arr[i].value;
                if(""!=term){
                    terms[i]= term;
                }
            }

            for(i=0;i<terms.length-1;i++){
                var x = select_arr[i];
                operators[i] =x.options[x.selectedIndex].value;
                boolExpr += terms[i]+operators[i];
            }
            boolExpr += terms[terms.length-1];


            if(0 == terms.length){ //没有检索词不能提交
                alert("请输入检索词！");
                $("#results").text("");// 清空数据
                return;
            }
            if(input_arr[0].value==""){ //第一个检索词为空不能提交
                alert("第一个检索词不能为空！");
                window.location.reload();
                // $("#results").text("");// 清空数据
                return;
            }
            $("#boolExpr").text("您提交的检索式为："+boolExpr);
            $.ajax({
                type:"POST",
                url:"/bool/boolRetrival_chn",
                data:{"terms":terms,"operators":operators},
                traditional: true,
                datatype:"json",
                contentType:"application/x-www-form-urlencoded; charset=utf-8",
                success:function(results){
                    boolResults = results;
                     console.log(results);
                    if(results == 0){
                        alert("抱歉！没有满足条件的检索结果！");
                        $("#results").text("");// 清空数据
                    }else{
                        $("#results").text("");// 清空数据
                        for (title in results){
                            var contents = results[title];
                            var str1 = contents.substring(0,90)+"......";
                            $('#results').append("<a id='"+title+"' href='' class='ra' style='font-size: 20px;font-family=Microsoft Yahei;font-weight: bold; margin-right: 20px' data-toggle='modal' data-target='#myModal' onclick='getContent(this.id)' title='"+contents+"'>"+title+"</a>");
                            $('#results').append("<br>");
                            $('#results').append("<p>"+str1+"</p>");
                        }
                        $results =$("#results").find("*");
                    }

                },
                error:function(){
                    alert("检索出错！");
                    $("#results").text("");// 清空数据
                }

            });
        });
    });

    //点击标题查看结果内容
    function getContent(id){
        for (title in boolResults){ //解析
            if(title == id){
                var contents = boolResults[id];
                $('#results').text("");
                $('#results').append(contents);
            }
        }
    };

</script>


</html>