<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IR&amp;NLP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../../css/styles.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/styles.css}">
    <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md" style="background-color:rgb(47,85,151);position:relative;">
    <div class="container-fluid"><a class="navbar-brand" href="../../index.html"
                                    style="width:340px;background-image:url(../../img/logo.png);background-size:cover;height:40px;padding:10px 0px;"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
        <div
                class="collapse navbar-collapse" id="navcol-1"
                style="/*text-align:right;*/position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="../../index.html">首页</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link active"
                                                                                  href="../../IRforCN.html">信息检索实验</a>
                </li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="../../NLP.html">NLP实验</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="../../explanation.html">文档与支持</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a href="../../IRforEN/informationretrieval/languageModel.html"
                                    class="navbar-brand brand">中文</a>
        <button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li role="presentation" class="nav-item align-self-center" style="margin:0 5px;"><a
                        href="../preProcessing.html" class="nav-link" style="color:rgb(0,0,0);">文档预处理</a></li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../invertedIndex.html"
                                                                                  class="nav-link active"
                                                                                  style="color:rgb(0,0,0);">倒排索引表</a>
                </li>
                <li class="dropdown align-self-center" style="margin:0 5px;"><a data-toggle="dropdown"
                                                                                aria-expanded="false" href="#"
                                                                                class="dropdown-toggle nav-link dropdown-toggle"
                                                                                style="color:rgb(0,0,0);font-style:normal;font-family:Microsoft Yahei;font-weight:normal;margin:0;height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;">文档检索</a>
                    <div
                            role="menu" class="dropdown-menu" style="background-color:rgba(199,199,199,0.5);"><a
                            role="presentation" href="boolean.html" class="dropdown-item">布尔模型</a><a role="presentation"
                                                                                                     href="vectorSpaceModel.html"
                                                                                                     class="dropdown-item">向量空间模型</a><a
                            role="presentation" href="probabilityModel.html" class="dropdown-item">概率检索模型</a><a
                            role="presentation" href="languageModel.html" class="dropdown-item">语言模型</a></div>
                </li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../performance.html"
                                                                                  class="nav-link"
                                                                                  style="color:rgb(0,0,0);">检索模型性能</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding:0 55px 0 30px;">
                <div class="row">
                    <div class="col">
                        <div class="input-group" style="height: 38px;margin:10px 0;">
                            <div class="input-group-prepend"><span class="input-group-text" style="font-size: 16px;">请输入查询语句</span>
                            </div>
                            <input name="chaxun" id="chaxun" type="text" class="form-control"/>
                            <div class="input-group-append"></div>
                        </div>
                        <div style="height: 38px;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;width:100%;">
                            <div style="display:-webkit-box;display:flex;margin-right:-1px;width:33%;"><span
                                    style="display:-webkit-box;display:flex;align-items:center;padding:.375rem .75rem;margin-bottom:0;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;text-align:center;white-space:nowrap;background-color:#e9ecef;border:1px solid #ced4da;border-radius:.25rem 0 0 .25rem;width:100%;font-size: 16px;">请选择语言模型类型</span>
                            </div>
                            <select id="modelType"
                                    style="padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:0 .25rem .25rem 0;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;width:67%;display:-webkit-box;font-size: 16px;">
                                <option value="1" selected>一元语言模型</option>
                                <option value="2">二元语言模型</option>
                                <option value="3">多元语言模型</option>
                            </select>
                        </div>
                        <div class="input-group" style="height: 38px;margin:10px 0;">
                            <div class="input-group-prepend"><span class="input-group-text" style="font-size: 16px;">请调整平滑系数（0≤λ≤1）</span>
                            </div>
                            <input name="canshu" id="canshu" type="text" class="form-control"/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="search"
                                        style="background-color:#4472c4;font-size: 16px">检索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="margin:20px 0 0 0;">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-1"
                                                        class="nav-link active">简介</a></li>
                                <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-2"
                                                        class="nav-link">流程</a></li>
                                <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-3"
                                                        class="nav-link">优劣</a></li>
                            </ul>
                            <div class="tab-content suojin" style="height:300px;">
                                <div role="tabpanel" class="tab-pane active" id="tab-1">
                                    <p>
                                        语言模型是采用概率统计方法描述自然语言内在规律的一种数学模型，在许多涉及自然语言处理的领域中有着广泛的应用。语言模型的思想是假设每个文档都存在一个语言模型，从文档的语言模型抽样产生检索的概率表示文档与查询的相似度。与传统的检索模型不同的是，语言模型是由文档到查询，即为每个文档建立不同的语言模型，判断由文档生成用户查询的可能性有多大，然后按照这种生成概率由高到低排序，作为搜索结果。</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-2">
                                    <p> 1.对每篇文档推导出其LM，即每个文档中的词在该文档中的概率；</br>
                                        2.估计查询在每个文档di的LM下的生成概率
                                        <math>
                                            <mo>P(q|Md)</mo>
                                        </math>
                                        ，一元语言模型即为
                                        <math>
                                            <mo>P(q|Md)=∏</mo>
                                            <mfrac>
                                                <mrow>
                                                    <msub>
                                                        <mi>tf</mi>
                                                        <mn>t,d</mn>
                                                    </msub>
                                                </mrow>
                                                <mrow>
                                                    <msub>
                                                        <mi>L</mi>
                                                        <mn>d</mn>
                                                    </msub>
                                                </mrow>
                                            </mfrac>
                                        </math>
                                        ，其中
                                        <math>
                                            <mfrac>
                                                <mrow>
                                                    <msub>
                                                        <mi>tf</mi>
                                                        <mn>t,d</mn>
                                                    </msub>
                                                </mrow>
                                                <mrow>
                                                    <msub>
                                                        <mi>L</mi>
                                                        <mn>d</mn>
                                                    </msub>
                                                </mrow>
                                            </mfrac>
                                        </math>
                                        为词项t在文档d中出现的原始概率。</br>
                                        3.按照上述概率对文档进行排序。
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-3">
                                    <p><strong>优势：</strong><br/>1.语言模型检索方法以数理统计以及随机过程作为理论基础，能够利用统计语言模型来估计与检索有关的参数，改变了传统检索方法中靠经验来设计启发规则形式计算公式的局面；<br/>
                                        2. 该方法隐含着词汇相互独立关系,没有考虑词汇间的相互影响；<br/>
                                        3. 传统检索模型中常用的查询反馈技术在概念层面融入语言模型框架比较困难。<br/><strong>
                                            劣势：</strong><br/>
                                        1. 存在数据稀疏问题，容易出现零概率情况，需要对模型进行参数平滑；<br/>
                                        2. 完全匹配可能导致检出的文档过多或过少，难以控制检索结果的输出量；<br/>
                                        3. 很难满足用户复杂的需求，对用户的检索技能有较高的要求。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding:0 10px 0 55px;">
                <div style="float:none;margin:auto;">
                    <h3 class="text-center"
                        style="/*float:right;*/height:40px;line-height:40px;font-size:20px;padding:0;margin:0;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;">
                        检索结果</h3>
                </div>
                <div id="results" class="suojin text" style="height:425px;margin:0;"></div>
                <button class="btn btn-primary" id="return" type="button"
                        style="background-color:#4472c4;font-size:16px;float:right;margin:10px 0;">返回
                </button>
            </div>
        </div>
    </div>
</div>
<footer style="color:rgb(47,85,151);width:100%;height:35px;line-height:35px;background-color:#2f5597;background-position:bottom;margin:0px;padding:0;position:fixed;bottom:0;">
    <p class="text-center" style="font-family:微软雅黑;color:rgb(255,255,255);">©copyright 2018 武汉大学信息检索与知识挖掘研究所 </p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
<script type="text/javascript">
    // var λ = $('#canshu').val();
    // var query = $('#chaxun').val();
    var lmResults;
    var $results = null;


    var modelType = $('#modelType').val();
    $(function () {
        $("#search").click(function () {
            //console.log(result);
            var query = document.getElementById("chaxun").value;
            var λ = document.getElementById("canshu").value;
            if (query.length == 0) { //第一个检索词为空不能提交
                alert("请输入查询语句！");
                window.location.reload();
                // $("#results").text("");// 清空数据
                return;
            }
            if (λ == "") {
                alert("请输入平滑系数！");
                $("#results").text("");// 清空数据
                return;
            }
            if (λ < 0 || λ > 1) {
                alert("平滑系数的范围为0~1！");
                $("#results").text("");// 清空数据
                return;
            }
            //alert("提交事件!");
            $.ajax({
                type: "POST",
                url: "languageModel/search_chn",
                data: {"numda": λ, "query": query},
                traditional: true,
                datatype: "json",
                traditional: true,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",

                /*  success:function(results){
                      console.log(λ);
                      if(0==results.rate){
                          alert("抱歉！没有满足条件的检索结果！");
                          $("#results").text("");// 清空数据
                      }else{
                          $("#results").text("");// 清空数据
                          JSONresults = results;
                          //JSONresults1 = results.contents;
                          $.each(JSONresults,function(index,obj) {
                              for (key in obj){ //解析出得到的文档名key 和原文contents
                                  $('#results').append("<a id='"+key+"' href='#' class='ra' style='font-size: 18px;" +
                                      "margin-right: 20px'>"+key+"</a>");
                                  $('#results').append("<span style='color:black; font-size: 18px'> "+obj[key]+"</span>");
                                  $('#results').append("<br>");
                              }
                          });
                      }
                  }*/
                success: function (result) {
                    console.log(result);
                    lmResults = result;

                    if (result == 0) {
                        alert("抱歉！没有满足条件的检索结果！");
                        $("#results").text("");// 清空数据
                    } else {
                        $("#results").text("");// 清空数据
                        $.each(result, function (index, obj) {
                            var str1 = obj.content.substring(0, 90) + "......";
                            $('#results').append("<a id='" + index + "' href='' class='ra' style='font-size: 20px;font-family=Microsoft Yahei;font-weight: bold; margin-right: 20px' data-toggle='modal' data-target='#myModal' onclick='getContent(this.id)' >" + obj.title + "</a>");
                            $('#results').append("<br>");
                            $('#results').append("<p>" + str1 + "</p>");

                        });
                        $results = $("#results").find("*");
                    }
                },
                error: function () {
                    alert("检索出错！");
                    $("#results").text("");// 清空数据
                }
            });
        })
    });

    //点击标题查看结果内容
    function getContent(id) {
        $.each(lmResults, function (index, obj) {
            if (index == id) {
                $("#results").text("");
                $("#results").append(obj.content);
            }
        });
    };
    //返回上一步
    $("#return").click(function () {
        $("#results").text("");
        $("#results").append($results);
    });

    $().ready(function () {
        $("#mainForm").validate({
            errorPlacement: function (error, element) {
                // Append error within linked label
                $(element)
                    .closest("form")
                    .find("label[for='" + element.attr("id") + "']")
                    .append(error);
            },
            errorElement: "span",
            rules: {
                canshu: {
                    required: true,
                    range: [0, 1]
                },
                chaxun: "required"
            }
        })
    });

    //动态元素<brmodel>添加的事件 查看文档的内容
    $(function () {//这里是动态元素<brmodel>添加的事件 查看文档的内容
        $("body").on("click", ".ra", function () {
            //alert('这里是动态元素添加的事件');
            var fileName = $(this).attr("id");
            $(".ra").attr("style", "font-size:18px; color:white");
            $(this).attr("style", "font-size:20px; color:#C0C0C0");
            $.each(JSONresults1, function (index, obj) {
                //console.log("到这里没有");
                //console.log(obj[fileName]);
                for (key in obj) {
                    var contents = obj[fileName];
                    if (fileName == key) {
                        console.log(contents);
                        //$("#contents").empty();
                        //$("#contents").html(fileName+": <br>"+contents);
                        $('#results').text("");// 清空数据
                        $('#results').append("<p id='p' style='color: rgb(255, 255, 255); font-size: 18px'></p>");
                        $("#p").append(contents);
                    }
                }
            });
        });
    });
</script>
</html>