<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"/>
<body>
<div th:include="common/top::top"/>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a href="../../IRforEN/informationretrieval/probabilityModel.html"
                                    class="navbar-brand brand">中文</a>
        <button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li role="presentation" class="nav-item align-self-center" style="margin:0 5px;"><a
                        href="../preProcessing.html" class="nav-link" style="color:rgb(0,0,0);">文档预处理</a></li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../invertedIndex.html"
                                                                                  class="nav-link active"
                                                                                  style="color:rgb(0,0,0);">倒排索引表</a>
                </li>
                <li class="dropdown align-self-center" style="margin:0 5px;"><a data-toggle="dropdown"
                                                                                aria-expanded="false" href="#"
                                                                                class="dropdown-toggle nav-link dropdown-toggle"
                                                                                style="color:rgb(0,0,0);font-style:normal;font-family:Microsoft Yahei;font-weight:normal;margin:0;height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;">文档检索</a>
                    <div
                            role="menu" class="dropdown-menu" style="background-color:rgba(199,199,199,0.5);"><a
                            role="presentation" href="boolean.html" class="dropdown-item">布尔模型</a><a role="presentation"
                                                                                                     href="vectorSpaceModel.html"
                                                                                                     class="dropdown-item">向量空间模型</a><a
                            role="presentation" href="probabilityModel.html" class="dropdown-item">概率检索模型</a><a
                            role="presentation" href="languageModel.html" class="dropdown-item">语言模型</a></div>
                </li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../performance.html"
                                                                                  class="nav-link"
                                                                                  style="color:rgb(0,0,0);">检索模型性能</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding:0 55px 0 30px;">
                <!--检索框-->
                <div class="row">
                    <div class="col">
                        <div class="input-group" style="height: 38px;font-family:Microsoft Yahei;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="font-size:16px;">请输入查询语句</span>
                            </div>
                            <input id="inputOfPBM" type="text" class="form-control"/>
                            <div class="input-group-append">
                                <button id="search" class="btn btn-primary" type="button"
                                        style="background-color:#71AB65;font-size:16px;border:none">检索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--参数选择-->
                <div id="" class="row selectFormula" style="padding: 0 10px">
                    <div class="col" style="margin-top: 20px;border:2px solid #cccccc; background-color:#ffffff;">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title"> BM25模型</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <div class="form-check">
                                    <label>
                                        <p style="width: 500px;height: 80px">
                                            <math th:include="include::b25formula"></math>
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="margin-left: 10px;display: inline-block">
                                    <span class="title"
                                          style="font-size:15px;font-family:Microsoft Yahei">调整参数k：</span>
                                    <div class="align-self-center adjustParam">
                                        <div class="style">
                                            <button class="btn jian" type="button"
                                                    onclick="num_jian(this,0.01,0.10)">-
                                            </button>
                                            <input type="text" value="0.5" id="paramK" name="input_num"/>
                                            <button class="btn jia" type="button"
                                                    onclick="num_jia(this,0.9,0.10)">+
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="margin-left: 10px;display: inline-block">
                                    <span class="title"
                                          style="font-size:15px;font-family:Microsoft Yahei">调整参数b：</span>
                                    <div class="align-self-center adjustParam">
                                        <div class="style">
                                            <button class="btn jian" type="button"
                                                    onclick="num_jian(this,0.01,0.10)">-
                                            </button>
                                            <input type="text" value="0.5" id="paramB" name="input_num"
                                                   style=""/>
                                            <button class="btn jia" type="button"
                                                    onclick="num_jia(this,0.9,0.10)">+
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--简介-->
                <div id="first" class="row" style="margin-top: 20px;display:block">
                    <div class="col">
                        <div style="margin-top: 10px">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" href="#tab-1" class="nav-link active">简介</a></li>
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" href="#tab-2" class="nav-link">流程</a></li>
                                <li class="nav-item">
                                    <a role="tab" data-toggle="tab" href="#tab-3" class="nav-link">优劣</a></li>
                            </ul>
                            <div class="tab-content suojin" style="height:235px;">
                                <div role="tabpanel" class="tab-pane active" id="tab-1">
                                    <p>
                                        概率检索模型是当前信息检索领域效果最好的模型之一，它基于对已有反馈结果的分析，根据贝叶斯原理为当前查询排序。概率检索模型的基本原理与朴素贝叶斯分类是一样的。<br>
                                        <br>
                                        朴素贝叶斯算法的原理：对于测试元组X，最终目的是要计算对于不同的类
                                        <math>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                        </math>
                                        ，计算后验概率
                                        <math>
                                            <mo>P(</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>|X)</mo>
                                        </math>
                                        ，哪个类最大，就属于哪个类。而为了计算
                                        <math>
                                            <mo>P(</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>|X)</mo>
                                        </math>
                                        ，则需要用贝叶斯公式做如下分解：
                                        <math>
                                            <mo>P(</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>|X)=</mo>
                                            <mfrac>
                                                <mrow>
                                                    <mo>P(X|</mo>
                                                    <msub>
                                                        <mi>C</mi>
                                                        <mn>i</mn>
                                                    </msub>
                                                    <mo>)P(</mo>
                                                    <msub>
                                                        <mi>C</mi>
                                                        <mn>i</mn>
                                                    </msub>
                                                    <mo>)</mo>
                                                </mrow>
                                                <mrow>
                                                    <msub>
                                                        <mi>df</mi>
                                                        <mn>t</mn>
                                                    </msub>
                                                </mrow>
                                            </mfrac>
                                        </math>
                                        因为要比较大小，所以忽略p(X)，只需要考虑分子中的
                                        <math>
                                            <mo>P(X|</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>)P(</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>)</mo>
                                        </math>
                                        ，其中
                                        <math>
                                            <mo>P(</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>)</mo>
                                        </math>
                                        可以通过抽
                                        样得到，那么问题转化为计算
                                        <math>
                                            <mo>P(X|</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>)</mo>
                                        </math>
                                        ，
                                        <math>
                                            <mo>P(X|</mo>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                            <mo>)</mo>
                                        </math>
                                        代表X在类
                                        <math>
                                            <msub>
                                                <mi>C</mi>
                                                <mn>i</mn>
                                            </msub>
                                        </math>
                                        中的概率。如果X由n个相互之间无关的属性组成，那么这个概率一般如下计算：

                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-2">
                                    <p>
                                        1.求索引项<br>
                                        2.求系数Bij<br>
                                        3.计算相似度<br>
                                        4.按相似度降序排序<br>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-3">
                                    <p>
                                        <strong>优点</strong><br>
                                        文档可以按照他们相关概率递减的顺序来计算秩（rank）。<br>
                                        <br>
                                        <strong>缺点</strong><br>
                                        开始时需要猜想把文档分为相关和不相关的两个集合，实际上这种模型没有考虑索引术语在文档中的频率（因
                                        为所有的权重都是二元的），而索引术语都是相互独立的。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--查看检索结果（已停用）-->
                <div class="row" style="display: none">
                    <div class="col">
                        <div class="row" style="margin:0;">
                            <div class="col" style="padding:0;">
                                <h3 class="text-center" style="height:40px;line-height:40px;font-size:20px;padding:0;
                                margin:0;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;">检索结果</h3>
                                <div id="searchResults" class="suojin text" style="height:420px;margin:0;"></div>
                                <button id="introduce" class="btn btn-primary" type="button" style="background-color:#71AB65;
                                font-size:16px;float:right;margin:10px 0;">介绍
                                </button>
                                <button id="return" class="btn btn-primary" type="button" style="background-color:#71AB65;
                                font-size:16px;float:right;margin:10px 0;">返回
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--查看检索流程-->
                <div id="second" class="row" style="display: none;margin-top: 100px">
                    <div class="col">
                        <h3 style="/*float:right;*/font-size:20px;padding:0;margin:0;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;height:25px;">
                            查看检索流程</h3>
                        <div style="margin-top:30px;">
                            <button id="PPQ" class="btn btn-primary bigButton" type="button">求索引项</button>
                            <img src="../../img/箭头右.png" height="20px"/>
                            <button id="calculateBij" class="btn btn-primary bigButton" type="button">求系数Bij</button>
                            <img src="../../img/箭头右.png" height="20px"/>
                            <button id="similarity" class="btn btn-primary bigButton" type="button">计算相似度</button>
                            <img src="../../img/箭头右.png" height="20px"/>
                            <button id="descendOrderSimilarity" class="btn btn-primary bigButton" type="button">按相似度降序排序
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="padding:0 10px 0 55px;">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin:0;">
                            <div class="col" style="-ms-flex:0 0 90%;flex:0 0 90%;max-width:90%;padding:0;">
                                <div style="float:none;margin:auto;">
                                    <h3 class="text-center"
                                        style="/*float:right;*/height:40px;line-height:40px;font-size:20px;padding:0;margin:10px;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;">
                                        检索结果</h3>
                                </div>
                                <div id="results" class="suojin text" style="height:490px;margin:0;"></div>
                            </div>
                            <div class="col" style="-ms-flex:0 0 10%;flex:0 0 10%;max-width:10%;padding:0;">
                                <button class="btn btn-primary" type="button"
                                        style="display:block;margin:60px 15px 0;background-color:#71AB65;"><i
                                        class="fa fa-undo"></i></button>
                                <button class="btn btn-primary" type="button"
                                        style="display:block;margin:10px 15px;background-color:#71AB65;"><i
                                        class="fa fa-repeat"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::foot"/>
<div th:include="include::script"/>
</body>
</html>