<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:include="include::header">
        <script type="text/javascript"
                src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </head>
<body>
<!--导航栏-->
<nav class="navbar navbar-light navbar-expand-md" style="background-color:rgb(47,85,151);position:relative;">
    <div class="container-fluid"><a class="navbar-brand" href="../../index.html" style="width:340px;
    background-image:url(../../img/logo.png);background-size:cover;height:40px;padding:10px 0px;">
    </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="/*text-align:right;*/position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="../../index.html">首页</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link active"
                                                                                  href="../../IRforCN.html">信息检索实验</a>
                </li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="../../NLP.html">NLP实验</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="../../explanation.html">文档与支持</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a href="../../IRforEN/informationretrieval/vectorSpaceModel.html"
                                    class="navbar-brand brand">中文</a>
        <button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li role="presentation" class="nav-item align-self-center" style="margin:0 5px;"><a
                        href="../preProcessing.html" class="nav-link" style="color:rgb(0,0,0);">文档预处理</a></li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../invertedIndex.html"
                                                                                  class="nav-link active"
                                                                                  style="color:rgb(0,0,0);">倒排索引表</a>
                </li>
                <li class="dropdown align-self-center" style="margin:0 5px;"><a data-toggle="dropdown"
                                                                                aria-expanded="false" href="#"
                                                                                class="dropdown-toggle nav-link dropdown-toggle"
                                                                                style="color:rgb(0,0,0);font-style:normal;font-family:Microsoft Yahei;font-weight:normal;margin:0;height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;">文档检索</a>
                    <div role="menu" class="dropdown-menu" style="background-color:rgba(199,199,199,0.5);"><a
                            role="presentation" href="boolean.html" class="dropdown-item">布尔模型</a><a role="presentation"
                                                                                                     href="vectorSpaceModel.html"
                                                                                                     class="dropdown-item">向量空间模型</a><a
                            role="presentation" href="probabilityModel.html" class="dropdown-item">概率检索模型</a><a
                            role="presentation" href="languageModel.html" class="dropdown-item">语言模型</a></div>
                </li>
                <li role="presentation" class="nav-item" style="margin:0 5px;"><a href="../performance.html"
                                                                                  class="nav-link"
                                                                                  style="color:rgb(0,0,0);">检索模型性能</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="padding:0 55px 0 30px;">
                <!--检索框-->
                <div class="row">
                    <div class="col">
                        <div class="input-group" style="height: 38px;font-family:Microsoft Yahei;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="font-size:16px;">请输入查询语句</span>
                            </div>
                            <input id="inputForVSM" type="text" class="form-control"/>
                            <div class="input-group-append">
                                <button id="searchForVSM" class="btn btn-primary" type="button"
                                        style="background-color:#4472c4;font-size:16px;">检索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="TF" class="row">
                    <div class="col" style="margin-top: 20px;border:2px solid #cccccc; background-color:#ffffff;">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title"> 请选择TF计算公式</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label>
                                        <input name="formula" id="TF1" type="radio" checked="" value="1">
                                        <p>
                                            <math xmlns="http://www.w3.org/1998/Math/MathML">
                                                <msub>
                                                    <mi>tf</mi>
                                                    <mi>t,d</mi>
                                                </msub>
                                            </math>
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label>
                                        <input name="formula" id="TF4" type="radio" value="4">
                                        <p>
                                            <math xmlns="http://www.w3.org/1998/Math/MathML">
                                                <mrow>
                                                    <msub>
                                                        <mi>tf</mi>
                                                        <mi>t,d</mi>
                                                    </msub>
                                                    <mo>&#62</mo>
                                                    <mn>0</mn>
                                                    <mo>?</mo>
                                                    <mn>1</mn>
                                                    <mo>:</mo>
                                                    <mn>0</mn>
                                                </mrow>
                                            </math>
                                        </p>
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label>
                                        <input name="formula" id="TF2" type="radio" value="2">
                                        <p>
                                            <math xmlns="http://www.w3.org/1998/Math/MathML">
                                                <mrow>
                                                    <mn>1</mn>
                                                    <mo>+</mo>
                                                    <mi>log(</mi>
                                                    <msub>
                                                        <mi>tf</mi>
                                                        <mi>t,d</mi>
                                                    </msub>
                                                    <mo>)</mo>
                                                </mrow>
                                            </math>
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label>
                                        <input name="formula" id="TF5" type="radio" value="5">
                                        <p>
                                            <math xmlns="http://www.w3.org/1998/Math/MathML">
                                                <mrow>
                                                    <mfrac>
                                                        <mrow>
                                                            <mn>1</mn>
                                                            <mo>+</mo>
                                                            <mi>log(</mi>
                                                            <msub>
                                                                <mi>tf</mi>
                                                                <mi>t,d</mi>
                                                            </msub>
                                                            <mo>)</mo>
                                                        </mrow>
                                                        <mrow>
                                                            <mn>1</mn>
                                                            <mo>+</mo>
                                                            <mi>log(</mi>
                                                            <msub>
                                                                <mi>ave</mi>
                                                                <mi>t &#8712d</mi>
                                                            </msub>
                                                            <mo>(</mo>
                                                            <msub>
                                                                <mi>tf</mi>
                                                                <mi>t,d</mi>
                                                            </msub>
                                                            <mo>)</mo>
                                                            <mo>)</mo>
                                                        </mrow>
                                                    </mfrac>
                                                </mrow>
                                            </math>
                                        </p>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check" style="display: inline-block">
                                    <label>
                                        <input name="formula" id="TF3" type="radio" value="3">
                                        <p>
                                            <math xmlns="http://www.w3.org/1998/Math/MathML">
                                                <mi>a</mi>
                                                <mo>+</mo>
                                                <mrow>
                                                    <mfrac>
                                                        <mrow>
                                                            <mi>a</mi>
                                                            <mo>&#215</mo>
                                                            <msub>
                                                                <mi>tf</mi>
                                                                <mi>t,d</mi>
                                                            </msub>
                                                        </mrow>
                                                        <mrow>
                                                            <msub>
                                                                <mi>max</mi>
                                                                <mi>t</mi>
                                                            </msub>
                                                            <mo>(</mo>
                                                            <msub>
                                                                <mi>tf</mi>
                                                                <mi>t,d</mi>
                                                            </msub>
                                                            <mo>)</mo>
                                                        </mrow>
                                                    </mfrac>
                                                </mrow>
                                            </math>
                                        </p>
                                    </label>
                                </div>
                                <div style="margin-left: 10px;display: inline-block">
                                    <span class="title"
                                          style="font-size:15px;font-family:Microsoft Yahei">调整平滑系数a：</span>
                                    <div class="align-self-center"
                                         style="height:40px;font-weight:bold;text-align:center;float:right;font-family:Microsoft Yahei;font-weight:bold;">
                                        <div style="display:block;height:30px;position:relative;top:5px;">
                                            <button class="btn btn-primary" type="button" id="jian"
                                                    onclick="num_jian(this,0.01,0.10)"
                                                    style="float:left;border-radius: 0;height:30px;width:30px;background-color:#4472c4;padding:0px;">
                                                -
                                            </button>
                                            <input type="text" value="0.5" id="smoothParam" name="input_num"
                                                   style="width:40px;height:30px;float:left;text-align:center;"/>
                                            <button class="btn btn-primary" type="button" id="jia"
                                                    onclick="num_jia(this,0.9,0.10)"
                                                    style="border-radius: 0;height:30px;background-color:#4472c4;padding:0px;width:30px;display:inline-block;top:0px;float:left;">
                                                +
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--简介-->
                <div id="first" class="row" style="margin:40px 0 0 0;display:block">
                    <div class="col">
                        <div style="margin:37px 0 0 0;">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-1"
                                                        class="nav-link active">简介</a></li>
                                <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-2"
                                                        class="nav-link">流程</a></li>
                                <li class="nav-item"><a role="tab" data-toggle="tab" href="#tab-3"
                                                        class="nav-link">优劣</a></li>
                            </ul>
                            <div class="tab-content col" style="height:470px;">
                                <div role="tabpanel" class="tab-pane active" id="tab-4">
                                    <p style="text-align: justify">
                                        <strong>向量空间模型（vector space model 简称：VSM）：</strong>一系列文档在同一向量空间中的表示被称为向量空间模型。其把对文本内容的处理简化为向量空间中的向量运算，并且它以空间上的相似度表达语义的相似度。<br>
                                        <br>
                                        <strong>文档频率（document frequency）
                                            <math>
                                                <msub>
                                                    <mi>df</mi>
                                                    <mn>t</mn>
                                                </msub>
                                            </math>
                                            ：</strong>
                                        出现词项的t文档数目，也就是每个倒排记录表的长度。<br>
                                        <br>
                                        <strong>词项频率（term frequency）
                                            <math>
                                                <msub>
                                                    <mi>tf</mi>
                                                    <mn>t,d</mn>
                                                </msub>
                                            </math>
                                            ：</strong>
                                        词项t在文档d中出现的次数。<br>
                                        <br>
                                        <strong>逆文档频率（inverse document frequency）
                                            <math>
                                                <msub>
                                                    <mi>idf</mi>
                                                    <mn>t</mn>
                                                </msub>
                                            </math>
                                            ：</strong>
                                        因为
                                        <math>
                                            <msub>
                                                <mi>df</mi>
                                                <mn>t</mn>
                                            </msub>
                                        </math>
                                        本身较大，需要将其映射到一个较小的范
                                        围。设文档集中所有文档数为N，词项idf为：<br>
                                        <math style="display: block">
                                            <msub>
                                                <mi>idf</mi>
                                                <mn>t</mn>
                                            </msub>
                                            <mo>=</mo>
                                            <msub>
                                                <mi>log</mi>
                                                <mn>2</mn>
                                            </msub>
                                            <mfrac>
                                                <mrow>
                                                    <mn>N</mn>
                                                </mrow>
                                                <mrow>
                                                    <msub>
                                                        <mi>df</mi>
                                                        <mn>t</mn>
                                                    </msub>
                                                </mrow>
                                            </mfrac>
                                        </math>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-2">
                                    <p>
                                        1.基于文档语料建立倒排索引；<br/>
                                        2.根据检索词获取倒排索引中对应的postings，更新结果列表；<br/>
                                        3.根据检索表达式中的逻辑运算符对结果列表和相应postings中的文档ID进行逻辑操作，更新计算结果至结果列表中，
                                        循环以上操作至最后一个检索词；<br/>
                                        4.返回检索结果列表，即满足用户检索需求的文档。<br/>
                                        <br/>
                                        <br/>
                                        <br/></p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-3">
                                    <p><strong>优势：</strong><br/>1.  简单，简化了复杂的检索过程<br/>2.
                                         易于理解，结构化的提问方式与用户的思维习惯一致<br/><strong>劣势：</strong><br/>1.
                                         对检索结果平等对待，不能按照用户定义的重要性排序输出<br/>2.  完全匹配可能导致检出的文档过多或过少，难以控制检索结果的输出量<br/>3.
                                         很难满足用户复杂的需求，对用户的检索技能有较高的要求</p>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">-->
                        <!--<ul class="nav nav-tabs col"-->
                        <!--style="-ms-flex:0 0 500px;flex:0 0 500px;max-width:40px;padding:0;display:inline-block;">-->
                        <!--<li class="nav-item nav-tabs-vertical"><a role="tab" data-toggle="tab" href="#tab-4"-->
                        <!--class="nav-link active"-->
                        <!--style="border-top-left-radius:.25rem;border-top-right-radius:0;border-bottom-left-radius:.25rem;padding:16px 8px;">简<br/>介</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item nav-tabs-vertical"-->
                        <!--style="margin:0 -1px 0 0;"><a role="tab" data-toggle="tab" href="#tab-5"-->
                        <!--class="nav-link"-->
                        <!--style="border-top-left-radius:.25rem;border-top-right-radius:0;border-bottom-left-radius:.25rem;padding:16px 8px;">流<br/>程</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item nav-tabs-vertical"-->
                        <!--style="margin:0 -1px 0 0;"><a role="tab" data-toggle="tab" href="#tab-6"-->
                        <!--class="nav-link"-->
                        <!--style="border-top-left-radius:.25rem;border-top-right-radius:0;border-bottom-left-radius:.25rem;padding:16px 8px;">优<br/>劣</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<div class="tab-content col" style="height:300px;">-->
                        <!--<div role="tabpanel" class="tab-pane active" id="tab-4">-->
                        <!--<p>-->
                        <!--<strong>向量空间模型（vector space model 简称：VSM）：</strong>一系列文档在同一向量空间中的表示被称为向量空间模型。其把对文本内容的处理简化为向量空间中的向量运算，并且它以空间上的相似度表达语义的相似度。<br>-->
                        <!--<br>-->
                        <!--<strong>文档频率（document frequency）-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>df</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--：</strong>-->
                        <!--出现词项的t文档数目，也就是每个倒排记录表的长度。<br>-->
                        <!--<br>-->
                        <!--<strong>词项频率（term frequency）-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>tf</mi>-->
                        <!--<mn>t,d</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--：</strong>-->
                        <!--词项t在文档d中出现的次数。<br>-->
                        <!--<br>-->
                        <!--<strong>逆文档频率（inverse document frequency）-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>idf</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--：</strong>-->
                        <!--因为-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>df</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--本身较大，需要将其映射到一个较小的范-->
                        <!--围。设文档集中所有文档数为N，词项idf为：<br>-->
                        <!--<math style="display: block">-->
                        <!--<msub>-->
                        <!--<mi>idf</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--<mo>=</mo>-->
                        <!--<msub>-->
                        <!--<mi>log</mi>-->
                        <!--<mn>2</mn>-->
                        <!--</msub>-->
                        <!--<mfrac>-->
                        <!--<mrow>-->
                        <!--<mn>N</mn>-->
                        <!--</mrow>-->
                        <!--<mrow>-->
                        <!--<msub>-->
                        <!--<mi>df</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</mrow>-->
                        <!--</mfrac>-->
                        <!--</math>-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--<div role="tabpanel" class="tab-pane" id="tab-5">-->
                        <!--<p>-->
                        <!--1.计算-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>idf</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--：利用倒排索引表中的文档频率参数求出各个词项逆文档频率<br>-->
                        <!--逆文档频率因子（-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>idf</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--）–全局（文档集合）<br>-->
                        <!--计算公式：-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>idf</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--<mo>=</mo>-->
                        <!--<msub>-->
                        <!--<mi>log</mi>-->
                        <!--<mn>2</mn>-->
                        <!--</msub>-->
                        <!--<mfrac>-->
                        <!--<mrow>-->
                        <!--<mn>N</mn>-->
                        <!--</mrow>-->
                        <!--<mrow>-->
                        <!--<msub>-->
                        <!--<mi>df</mi>-->
                        <!--<mn>t</mn>-->
                        <!--</msub>-->
                        <!--</mrow>-->
                        <!--</mfrac>-->
                        <!--</math>&lt;!&ndash;idf计算公式&ndash;&gt;-->
                        <!--<br>-->
                        <!--N代表文档集合中的文档总数<br>-->
                        <!--2.计算词频因子:-->
                        <!--将查询语句也看作一个文档，分别计算查询语句与文档集中各词的词频因子。<br>-->
                        <!--词频因子（-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>tf</mi>-->
                        <!--<mn>t,d</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--)–局部（一个文档）：最简单的就是直接利用词频数-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>tf</mi>-->
                        <!--<mn>t,d</mn>-->
                        <!--</msub>-->
                        <!--</math>-->
                        <!--作为词频因子值。<br>-->
                        <!--平滑公式：-->
                        <!--<math>-->
                        <!--<msubsup>-->
                        <!--<mo>tf</mo>-->
                        <!--<mn>t,d</mn>-->
                        <!--<mn>&nbsp;'</mn>-->
                        <!--</msubsup>-->
                        <!--<mo>=</mo>-->
                        <!--<mn>1</mn>-->
                        <!--<mo>+</mo>-->
                        <!--<mo>log(</mo>-->
                        <!--<msub>-->
                        <!--<mi>tf</mi>-->
                        <!--<mn>t,d</mn>-->
                        <!--</msub>-->
                        <!--<mn>)</mn>-->
                        <!--</math>-->
                        <!--<br>-->
                        <!--3.计算向量：按照词典中的顺序建立各个文档的词项向量，向量中每一个词的权值一般采用TF-IDF框架计算。（查询语句也看作一个文档进行计算）<br>-->
                        <!--词频因子（TF)–局部（一个文档）：最简单的就是直接利用词频数作为TF值。<br>-->
                        <!--平滑公式：-->
                        <!--<math>-->
                        <!--<msub>-->
                        <!--<mi>W</mi>-->
                        <!--<mn>tf</mn>-->
                        <!--</msub>-->
                        <!--<mo>=</mo>-->
                        <!--<mn>1</mn>-->
                        <!--<mo>+</mo>-->
                        <!--<mo>log(</mo>-->
                        <!--<msub>-->
                        <!--<mi>tf</mi>-->
                        <!--<mn>t,d</mn>-->
                        <!--</msub>-->
                        <!--<mo>)</mo>-->
                        <!--</math>-->
                        <!--<br>-->
                        <!--4.相似度计算：查询与某文档的相似度为查询向量和文档向量余弦值。（或查询向量的但闻向量与文档向量的单位向量的点积）<br>-->
                        <!--5.按照文档和查询的相似性得分从高到低排序作为搜索结果。<br>-->


                        <!--</p>-->
                        <!--</div>-->
                        <!--<div role="tabpanel" class="tab-pane" id="tab-6">-->
                        <!--<p>-->
                        <!--<strong>优点</strong><br>-->
                        <!--基于线性代数的简单模型；词组的权重不是二元的；允许计算文档和索引之间的连续。-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<strong>缺点</strong><br>-->
                        <!--不适用于较长的文件；检索词组必须与文件中出现的词组精确匹配；语义敏感度不佳；易导致“假阴性匹配”；忽略词组间的相关性。-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <!--检索结果-->
                <div class="row" style="display: none">
                    <div class="col">
                        <div class="row" style="margin:0;">
                            <div class="col" style="padding:0;">
                                <h3 class="text-center" style="height:40px;line-height:40px;font-size:20px;padding:0;
                                margin:0;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;">检索结果</h3>
                                <div id="searchResults" class="suojin text" style="height:420px;margin:0;"></div>
                                <button id="introduce" class="btn btn-primary" type="button" style="background-color:#4472c4;
                                font-size:16px;float:right;margin:10px 0;">介绍
                                </button>
                                <button id="return" class="btn btn-primary" type="button" style="background-color:#4472c4;
                                font-size:16px;float:right;margin:10px 0;">返回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--查看检索流程-->
                <div id="second" class="row" style="display: none">
                    <div class="col">
                        <h3 style="/*float:right;*/font-size:20px;padding:0;margin:0;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;height:25px;">
                            查看检索流程</h3>
                        <div style="margin-top:30px;">
                            <div style="margin:5px 0;">
                                <button id="queryVector" class="btn btn-primary bigButton" type="button">求查询向量</button>
                                <img src="../../img/箭头左.png" height="20px"/>
                                <button id="tfOfQuery" class="btn btn-primary bigButton" type="button">求查询的TF</button>
                                <img src="../../img/箭头左.png" height="20px"/>
                                <button id="preProcessQuery" class="btn btn-primary bigButton" type="button">查询预处理
                                </button>
                                <img src="../../img/箭头左.png" height="20px"/>
                                <button id="idf" class="btn btn-primary bigButton" type="button">求文档IDF</button>
                            </div>
                            <div>
                                <img src="../../img/图片1.png" width="20px" style="margin:0 50px;"/>
                            </div>
                            <div style="margin:5px 0;">
                                <button id="tfsOfDocs" class="btn btn-primary bigButton" type="button">求各文档TF</button>
                                <img src="../../img/箭头右.png" height="20px"/>
                                <button id="vectorsOfDocs" class="btn btn-primary bigButton" type="button">求文档向量
                                </button>
                                <img src="../../img/箭头右.png" height="20px"/>
                                <button id="similarity" class="btn btn-primary bigButton"
                                        type="button">求相似度
                                </button>
                                <img src="../../img/箭头右.png" height="20px"/>
                                <button id="similarityAfterSort" class="btn btn-primary bigButton" type="button">
                                    按相似度降序排序
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding:0 10px 0 55px;">
                <div class="row">
                    <div class="col">
                        <div class="row" style="margin:0;">
                            <div class="col-md-11">
                                <div style="float:none;margin:auto;">
                                    <h3 class="text-center" style="/*float:right;*/height:40px;line-height:40px;
                                    font-size:20px;padding:0;margin:10px;color:rgb(0,0,0);font-family:微软雅黑;font-weight:bold;">
                                        中间结果</h3>
                                </div>
                                <div id="results" class="suojin text" style="height:310px;margin-bottom: 10px"></div>
                                <div class="row">
                                    <div class="col">
                                        <div style="float:right;height:40px;">
                                            <h3 style="float:left;font-family:微软雅黑;font-size:20px;height:40px;line-height:40px;margin:0;font-weight:bold;color:rgb(68,114,196);">
                                                请选择文档ID：</h3>
                                            <!--购物车小工具-->
                                            <div class="align-self-center"
                                                 style="height:40px;font-weight:bold;text-align:center;float:right;font-family:Microsoft Yahei;font-weight:bold;">
                                                <div style="display:block;height:30px;position:relative;top:5px;">
                                                    <button class="btn btn-primary" type="button" id="minusDocId"
                                                            onclick="num_jian(this,0,1)"
                                                            style="float:left;border-bottom-right-radius:0px;border-top-right-radius:0px;height:30px;width:30px;background-color:#4472c4;padding:0px;">
                                                        -
                                                    </button>
                                                    <input type="text" value="0" id="docIdInVSM" name="input_num"
                                                           style="width:40px;height:30px;float:left;text-align:center;"/>
                                                    <button class="btn btn-primary" type="button" id="plusDocId"
                                                            onclick="num_jia(this,165,1)"
                                                            style="border-bottom-left-radius:0px;border-top-left-radius:0px;height:30px;background-color:#4472c4;padding:0px;width:30px;display:inline-block;top:0px;float:left;">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary" type="button"
                                        style="display:block;margin-top: 60px;background-color:#4472c4;"><i
                                        class="fa fa-undo"></i></button>
                                <button class="btn btn-primary" type="button"
                                        style="display:block;margin-top: 15px;background-color:#4472c4;"><i
                                        class="fa fa-repeat"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::foot"/>
<div th:include="include::script"/>
</body>
</html>