<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.base.mapper.system.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.base.entity.system.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="c_username" property="cUsername" jdbcType="VARCHAR" />
    <result column="c_content" property="cContent" jdbcType="VARCHAR" />
    <result column="c_create_time" property="cCreateTime" jdbcType="TIMESTAMP" />
    <result column="c_support" property="cSupport" jdbcType="INTEGER" />
    <result column="c1" property="c1" jdbcType="VARCHAR" />
    <result column="c2" property="c2" jdbcType="VARCHAR" />
    <result column="c3" property="c3" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, c_username, c_content, c_create_time, c_support, c1, c2, c3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.base.entity.system.Comment" >
    insert into comment (id, c_username, c_content, 
      c_create_time, c_support, c1, 
      c2, c3)
    values (#{id,jdbcType=INTEGER}, #{cUsername,jdbcType=VARCHAR}, #{cContent,jdbcType=VARCHAR}, 
      #{cCreateTime,jdbcType=TIMESTAMP}, #{cSupport,jdbcType=INTEGER}, #{c1,jdbcType=VARCHAR}, 
      #{c2,jdbcType=VARCHAR}, #{c3,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.base.entity.system.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cUsername != null" >
        c_username,
      </if>
      <if test="cContent != null" >
        c_content,
      </if>
        c_create_time,
      <if test="cSupport != null" >
        c_support,
      </if>
      <if test="c1 != null" >
        c1,
      </if>
      <if test="c2 != null" >
        c2,
      </if>
      <if test="c3 != null" >
        c3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cUsername != null" >
        #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null" >
        #{cContent,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="cSupport != null" >
        #{cSupport,jdbcType=INTEGER},
      </if>
      <if test="c1 != null" >
        #{c1,jdbcType=VARCHAR},
      </if>
      <if test="c2 != null" >
        #{c2,jdbcType=VARCHAR},
      </if>
      <if test="c3 != null" >
        #{c3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.irlab.irep.base.entity.system.Comment" >
    update comment
    <set >
      <if test="cUsername != null" >
        c_username = #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="cContent != null" >
        c_content = #{cContent,jdbcType=VARCHAR},
      </if>
      <if test="cCreateTime != null" >
        c_create_time = #{cCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cSupport != null" >
        c_support = #{cSupport,jdbcType=INTEGER},
      </if>
      <if test="c1 != null" >
        c1 = #{c1,jdbcType=VARCHAR},
      </if>
      <if test="c2 != null" >
        c2 = #{c2,jdbcType=VARCHAR},
      </if>
      <if test="c3 != null" >
        c3 = #{c3,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.whu.irlab.irep.base.entity.system.Comment" >
    update comment
    set c_username = #{cUsername,jdbcType=VARCHAR},
      c_content = #{cContent,jdbcType=VARCHAR},
      c_create_time = #{cCreateTime,jdbcType=TIMESTAMP},
      c_support = #{cSupport,jdbcType=INTEGER},
      c1 = #{c1,jdbcType=VARCHAR},
      c2 = #{c2,jdbcType=VARCHAR},
      c3 = #{c3,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from comment
  </select>
</mapper>