<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.base.mapper.system.UserAnalyticalScoreMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.base.entity.system.UserAnalyticalScore" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="experiment_id" property="experimentId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.edu.whu.irlab.irep.base.entity.system.UserAnalyticalScoreWithBLOBs" extends="BaseResultMap" >
    <result column="analytical_content" property="analyticalContent" jdbcType="LONGVARCHAR" />
    <result column="teacher_comment" property="teacherComment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    analytical_content, teacher_comment
  </sql>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.base.entity.system.UserAnalyticalScoreWithBLOBs" >
    insert into user_analytical_score (id, user_id, teacher_id, 
      experiment_id, score, analytical_content, 
      teacher_comment)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, 
      #{experimentId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{analyticalContent,jdbcType=LONGVARCHAR}, 
      #{teacherComment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.base.entity.system.UserAnalyticalScoreWithBLOBs" >
    insert into user_analytical_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="experimentId != null" >
        experiment_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="analyticalContent != null" >
        analytical_content,
      </if>
      <if test="teacherComment != null" >
        teacher_comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="experimentId != null" >
        #{experimentId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="analyticalContent != null" >
        #{analyticalContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="teacherComment != null" >
        #{teacherComment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSelective" parameterType="cn.edu.whu.irlab.irep.base.entity.system.UserAnalyticalScoreWithBLOBs">
    update user_analytical_score
    <set>
        <if test="id != null" >
            id=#{id,jdbcType=INTEGER},
        </if>
        <if test="userId != null" >
            user_id=#{userId,jdbcType=INTEGER},
        </if>
        <if test="teacherId != null" >
            teacher_id=#{teacherId,jdbcType=INTEGER},
        </if>
        <if test="experimentId != null" >
            experiment_id=#{experimentId,jdbcType=INTEGER},
        </if>
        <if test="score != null" >
            score=#{score,jdbcType=INTEGER},
        </if>
        <if test="analyticalContent != null" >
            analyticalContent=#{analyticalContent,jdbcType=LONGVARCHAR},
        </if>
        <if test="teacherComment != null" >
            teacher_comment=#{teacherComment,jdbcType=LONGVARCHAR},
        </if>
    </set>
  </update>
    <select id="select" parameterType="cn.edu.whu.irlab.irep.base.entity.system.UserAnalyticalScoreWithBLOBs" resultMap="ResultMapWithBLOBs">
      select * from user_analytical_score
      <where>
          <if test="id != null" >
              and id=#{id,jdbcType=INTEGER}
          </if>
          <if test="userId != null" >
              and user_id=#{userId,jdbcType=INTEGER}
          </if>
          <if test="teacherId != null" >
              and teacher_id=#{teacherId,jdbcType=INTEGER}
          </if>
          <if test="experimentId != null" >
              and experiment_id=#{experimentId,jdbcType=INTEGER}
          </if>
          <if test="score != null" >
              and score=#{score,jdbcType=INTEGER}
          </if>
          <if test="analyticalContent != null" >
              and analyticalContent=#{analyticalContent,jdbcType=LONGVARCHAR}
          </if>
          <if test="teacherComment != null" >
              and teacher_comment=#{teacherComment,jdbcType=LONGVARCHAR}
          </if>
      </where>
    </select>
</mapper>