body {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("../img/background.png");
}

p {
    font-size: 16px;
}

.body1 {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("../img/background1.png");
}

.tab-content {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "微软雅黑";
    font-size: 15px;
    padding: 10px;
    border: solid #cccccc;
    box-shadow: 3px 3px 1px rgba(51, 63, 80, 0.5);
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #cccccc;
    font-family: "Microsoft Yahei";
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgba(68, 114, 196, 0.5);
    border: none;
    color: rgb(255, 255, 255);
}

.cixing {
    margin: 10px 10px;
    background-color: #4472c4;
    font-size: 16px;
}

.current {
    margin: 10px 10px;
    background-color: white;
    font-size: 16px;
    border: solid;
    border-color: black;
    border-width: 2px;
    background-color: white;
    color: black;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}


.suojin {
    padding: 10px;
}

.bigButton {
    margin: 0 5px;
    background-color: rgba(125, 170, 249, 0.25);
    color: rgb(0, 0, 0);
    font-family: "微软雅黑";
    padding: 6px 6px;
    font-size: 16px;
    height: 38px;
}

.smallButton {
    background-color: #4472c4;
    font-family: "微软雅黑";
    width: 120px;
    height: 45px;
    line-height: 28px;
    margin: 0 5px;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 0 2px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 4px solid #000000;
    font-size: 16px;
    padding: 2px;
    text-align: center;
}

.table-test thead th {
    vertical-align: bottom;
    border-bottom: 4px solid #000000;
    font-size: 16px;
    padding: 2px;
    text-align: center;
}

.text {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    border: solid #cccccc;
    box-shadow: 3px 3px 1px rgba(51, 63, 80, 0.5);
}

.result {
    float: left;
    background-color: #4472c4;
    color: #ffffff;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.stress {
    float: left;
    background-color: white;
    color: black;
    border: solid;
    border-color: black;
    border-width: 2px;
    margin: 8px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.footer-clean{
    padding:50px 0;background-color:#fff;color:#4b4c4d
}

.footer-clean h3{
    margin-top:0;margin-bottom:12px;font-weight:700;font-size:16px

}

.footer-clean ul{
    padding:0;list-style:none;line-height:1.6;font-size:14px;margin-bottom:0
}

.footer-clean ul a{
    color:inherit;text-decoration:none;opacity:.8
}

.footer-clean ul a:hover{
    opacity:1
}

.footer-clean .item.social{
    text-align:right
}

@media (max-width:768px){
    .footer-clean .item.social{
        text-align:center
    }}

.footer-clean .item.social>a{
    font-size:24px;width:40px;height:40px;line-height:40px;display:inline-block;text-align:center;border-radius:50%;border:1px solid #ccc;margin-left:10px;margin-top:22px;color:inherit;opacity:.75}.footer-clean .item.social>a:hover{opacity:.9}@media (max-width:991px){.footer-clean .item.social>a{margin-top:40px}}@media (max-width:767px){.footer-clean .item{text-align:center;padding-bottom:20px}.footer-clean .item.social>a{margin-top:10px}}.footer-clean .copyright{margin-top:14px;margin-bottom:0;font-size:13px;opacity:.6}.brand,.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link.active{font-size:16px;font-family:"微软雅黑"}.navbar-light .navbar-nav .nav-link{color:#00b0f0;font-style:normal;font-weight:400}.brand,.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{color:#fff}.navbar-light .navbar-nav .nav-link.active{color:#fff;font-style:normal;font-weight:400}.brand{background-color:#92a5c6;text-align:center;font-weight:700;height:35px;width:50px}body{background-size:cover;background-position:top;background-repeat:no-repeat;background-image:url(../img/background1.png)}

.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem;background-color:rgba(199,199,199,.5);font-family:"Microsoft Yahei";font-weight:700;color:#4472c4}

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{
    background-color:rgba(68,114,196,.5);border:none;
}

.cixing{
    background-color:#c7c7c7;margin:10px
}

@media (min-width:1200px){
    .container{
        max-width:1400px
    }}

.col-md-6{
    position:relative;
    width:100%;
    min-height:1px;
}

.bigButton{
    margin:0 5px 0 0;background-color:#ccc;color:#000;font-family:"微软雅黑";padding:6px
}

.table td,.table th{
    vertical-align:top;
}

::-webkit-scrollbar{
    display:none;
}

/*填空题部分css*/
.fillIn{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left:15px;
}

.fillInBox{
    border:0;
    border-bottom:1px solid #878787;
    width:100px;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
    height:24px;
    background-color: #fdfdfe;
}

/*选择题部分css*/
.multipleChoice{
    font-size:16px;
    margin-bottom:10px;
    margin-left:15px;

}

.chooseBox{
    margin-left:15px;
}

/*答题确定按钮*/
.exaConfirm{
    margin-left:600px;
    margin-top:-10px;
    margin-bottom:50px;
    background-color: #4472c4;
    font-family: "微软雅黑";
    width: 120px;
    height: 45px;
    font-weight: bold;
    color: #ffffff;
    font-size:14px;
}






