<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>网络大数据搜索引擎虚拟仿真实验平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/irep.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/ionicons.min.css}"/>
</head>
<body>
<div th:fragment="footer">
    <footer class="text-center">
        <p class="text-center" style="font:16px 'Microsoft Yahei';color:#333333;position: relative;top:25px;">
            版权所有：武汉大学信息检索与知识挖掘研究所 </p>
    </footer>
</div>
<div th:fragment="script">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/irepJs.js}"></script>
</div>
</body>
</html>