<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>信息检索虚拟仿真实验系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myStyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/ionicons.min.css}"/>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
<div th:fragment="script">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/irepJs.js}"></script>
</div>

<div th:fragment="foot">
    <footer style="color:rgb(47,85,151);width:100%;height:35px;line-height:35px;background-color:#2F5627;background-position:bottom;margin:0px;padding:0;position:fixed;bottom:0;">
        <p class="text-center" style="font-family:微软雅黑;color:rgb(255,255,255);">©copyright 2019 武汉大学信息检索与知识挖掘研究所 </p>
    </footer>
</div>
<!--b25公式-->
<math th:fragment="b25formula">
    <mi> Sim </mi>
    <mfenced>
        <mrow>
            <msub>
                <mrow>
                    <mi> D </mi>
                </mrow>
                <mrow>
                    <mi> j </mi>
                </mrow>
            </msub>
            <mo> , </mo>
            <mi> q </mi>
        </mrow>
    </mfenced>
    <mo> = </mo>
    <munder>
        <mrow>
            <mo> &#x2211; <!-- n-ary summation --> </mo>
        </mrow>
        <mrow>
            <msub>
                <mrow>
                    <mi> t </mi>
                </mrow>
                <mrow>
                    <mi> i </mi>
                </mrow>
            </msub>
            <mo> &#x2208; <!-- element of --> </mo>
            <mi> q </mi>
        </mrow>
    </munder>
    <mfrac>
        <mrow>
            <mfenced>
                <mrow>
                    <mi> k </mi>
                    <mo> + </mo>
                    <mn> 1 </mn>
                </mrow>
            </mfenced>
            <msub>
                <mrow>
                    <mi> f </mi>
                </mrow>
                <mrow>
                    <mi> i </mi>
                    <mo> , </mo>
                    <mi> j </mi>
                </mrow>
            </msub>
        </mrow>
        <mrow>
            <mi> k </mi>
            <mfenced open="[" close="]">
                <mrow>
                    <mfenced>
                        <mrow>
                            <mn> 1 </mn>
                            <mo> - </mo>
                            <mi> b </mi>
                        </mrow>
                    </mfenced>
                    <mo> + </mo>
                    <mi> b </mi>
                        <mrow>
                            <mfrac>
                                <mrow>
                                    <mi> len </mi>
                                    <mfenced>
                                        <mrow>
                                            <msub>
                                                <mrow>
                                                    <mi> D </mi>
                                                </mrow>
                                                <mrow>
                                                    <mi> i </mi>
                                                </mrow>
                                            </msub>
                                        </mrow>
                                    </mfenced>
                                </mrow>
                                <mrow>
                                    <mi> avg_length </mi>
                                </mrow>
                            </mfrac>
                        </mrow>
                </mrow>
            </mfenced>
            <mo> + </mo>
            <msub>
                <mrow>
                    <mi> f </mi>
                </mrow>
                <mrow>
                    <mi> i </mi>
                    <mo> , </mo>
                    <mi> j </mi>
                </mrow>
            </msub>
        </mrow>
    </mfrac>
    <mo>&#215</mo>
    <mi> log </mi>
    <mfrac>
        <mrow>
            <mi> N </mi>
            <mo> - </mo>
            <msub>
                <mrow>
                    <mi> n </mi>
                </mrow>
                <mrow>
                    <mi> j </mi>
                </mrow>
            </msub>
            <mo> + </mo>
            <mn> 0.5 </mn>
        </mrow>
        <mrow>
            <msub>
                <mrow>
                    <mi> n </mi>
                </mrow>
                <mrow>
                    <mi> j </mi>
                </mrow>
            </msub>
            <mo> + </mo>
            <mn> 0.5 </mn>
        </mrow>
    </mfrac>
</math>

</body>

</html>
