<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"></head>

<body class="body1">
<div th:include="common/top::top"/>
<div id="particles">
    <div id="intro">
        <h1 class="text-center" style="height:80px;line-height:80px;font-size:95px;padding:0;margin:180px 0px 40px;color:#14380D;font-family:微软雅黑;">IR&amp;NLP虚拟实验教学平台<br></h1>
        <div style="text-align:center;margin:180px 0;padding:auto;">
            <a class="btn btn-primary" role="button" href="IRforCN.html" style="width:300px;height:80px;margin:0 60px;font-size:45px;font-family:微软雅黑;/*line-height:auto;*/background-color:#82A07B;text-align:center;position:relative;border:none/*left:25%;*/">信息检索实验</a>
            <a class="btn btn-primary" role="button" th:href="@{NLP.html}" style="width:300px;height:80px;font-size:45px;line-height:68px;text-align:center;background-color:#82A07B;display:inline-block;margin:0px 60px;position:relative;border:none;/*left:75%;*/font-family:微软雅黑;">NLP实验</a>
        </div>
    </div>
</div>
<div th:include="include::foot"/>
<div th:include="include::script"/>
<script th:src="@{../js/canvas.js}"></script>
</body>

</html>