<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中文信息检索实验</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">

<body style="background-size:cover;background-position:top;background-repeat:no-repeat;background-image:url(img/background1.png)">

<nav class="navbar navbar-light navbar-expand-md" style="background-color:rgb(47,85,151);position:relative;">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"
                                    style="width:340px;background-image:url(img/logo.png);background-size:cover;height:40px;padding:10px 0px;"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
        <div
                class="collapse navbar-collapse" id="navcol-1"
                style="/*text-align:right;*/position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="index.html">首页</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link active"
                                                                                  href="IRforCN.html">信息检索实验</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="NLP.html">NLP实验</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="explanation.html">文档与支持</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand brand" href="IRforEN.html">中文</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item align-self-center" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                                    href="IRforCN/preProcessing.html"
                                                                                                    style="/*background-color:rgba(0,176,240,0.16);*/height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">文档预处理</a>
                </li>
                <li
                        class="nav-item align-self-center" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                                        href="IRforCN/invertedIndex.html"
                                                                                                        style="/*background-color:rgba(0,176,240,0.16);*/height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">倒排索引表</a>
                </li>
                <li
                        class="nav-item align-self-center" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                                        href="IRforCN/Retrieval/boolean.html"
                                                                                                        style="/*background-color:rgba(0,176,240,0.16);*/height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">文档检索</a>
                </li>
                <li
                        class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                      href="IRforCN/performance.html"
                                                                                      style="/*background-color:rgba(0,176,240,0.16);*/height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">检索模型性能</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="text-align:center;">
                    <h2 style="/*float:right;*/height:80px;line-height:80px;font-size:60px;padding:0;margin:50px 0;
                    color:rgb(32,56,100);font-family:微软雅黑;">信息检索实验</h2>
                </div>
                <div style="width:500px;float:none;margin:auto;">
                    <p style="color:rgb(32,56,100);font-family:微软雅黑;font-size:20px;font-weight:normal;">
                        <strong>&nbsp; &nbsp; &nbsp; &nbsp; 信息检索（information retrieval，简称IR）是从大规模非结构化数据
                            （通常是文本）的集合（通常保存在计算机上）中找出满足用户需求的资料（通常是文档）的过程 。</strong><br>
                        <strong> &nbsp; &nbsp; &nbsp; &nbsp;实验要求：通过完成文档预处理、构建倒排索引、构建检索模型三个子实验设计一个
                            搜索引擎，并对自己搭建的搜索引擎性能的进行评价。</strong><br>
                    </p>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <img src="img/framework.png" width="600px">
                <a class="btn btn-primary float-none d-flex flex-row justify-content-center align-items-center
                align-content-center align-self-center" role="button" href="IRforCN/preProcessing.html"
                   style="font-size:20px;font-family:微软雅黑;background-color:#4472c4;margin-top:8px;margin-left:33%;
                   margin-right:0px;width:200px;">开始实验</a></div>
        </div>
        </div>
    </div>
</div>

<div th:include="include::foot"/>
<div th:include="include::script"/>

</body>

</html>