<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"></head>

<body>
<div class="navbar navbar-expand-md" style="background-color:rgb(47,85,151);height:56px;position:relative;"><a
        class="navbar-brand"
        style="width:340px;background-image:url(../img/logo.png);background-size:cover;height:40px;padding:10px 0px;margin:0 0 0 15px;"></a>
    <h4 style="color:rgb(255,255,255);font-family:Microsoft Yahei;margin:0 10px;font-weight:bold;">|</h4>
    <h4 style="color:rgb(255,255,255);font-family:Microsoft Yahei;margin:0;font-weight:bold;">登录</h4>
</div>
<div style="margin:60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center my-auto" style="text-align:center;">
                <h1 style="font-family:Microsoft Yahei;font-weight:bold;color:#4472c4;font-size: 40px">IR&amp;NLP虚拟实验教学系统</h1>
                <img src="../img/computer.png" width="500px" style="margin:auto;padding:auto;"></div>
            <div class="col-md-6">
                <form method="post"
                      style="max-width:320px;width:90%;margin:0 auto;background-color:#ffffff;padding:40px;border-radius:4px;color:#505e6c;box-shadow:1px 1px 5px rgba(0,0,0,0.1);">
                    <h2 class="sr-only">Login Form</h2>
                    <div class="illustration"
                         style="text-align:center;padding:0 0 20px;font-size:100px;color:rgb(244,71,107);"><i
                            class="icon ion-ios-navigate" style="color:#4472c4;"></i></div>
                    <div class="form-group"><input class="form-control" type="email" name="LoginName" placeholder="登录名">
                    </div>
                    <div class="form-group"><input class="form-control" type="password" name="password"
                                                   placeholder="密码"></div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                style="font-family:Microsoft Yahei;background-color:#4472c4;">登 &nbsp;录
                        </button>
                    </div>
                    <div style="text-align:center;"><a href="signIn.html" class="forgot"
                                                       style="color:#000000;margin:0 12.5% 0 0;">注册用户</a><a href="#"
                                                                                                            class="forgot"
                                                                                                            style="color:#000000;margin:0 0 0 12.5%;">忘记密码?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="include::foot"/>
<div th:include="include::script"/>
</body>

</html>