<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP实验</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<!--    <link rel="stylesheet" th:href="@{css/styles.min.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>

<body>
<div th:include="common/top::top"/>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="http://localhost:8080/IRforEN"
                                    style="/*background-color:rgb(146,165,198);*//*font-family:微软雅黑;*/text-align:center;font-size:25px;height:40px;width:80px;line-height:30px;color:rgba(255,255,255,0.9);"></a>
        <button
                class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right:20px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item align-self-center" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                                    href="NLP/LexicalAnalysis.html"
                                                                                                    style="height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">分词</a>
                </li>
                <li class="nav-item align-self-center" role="presentation"
                    style="margin:0 5px;"><a class="nav-link" href="NLP/POSTagging.html"
                                             style="height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">词性标注</a>
                </li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a class="nav-link"
                                                                                  href="NLP/NamedEntityRecognition.html"
                                                                                  style="height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;color:black;">命名实体识别</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="text-align:center;">
                    <h2 style="height:80px;line-height:80px;font-size:60px;padding:0;margin:40px 0;color:rgb(32,56,100);font-family:微软雅黑;">
                        NLP实验</h2>
                </div>
                <div style="width:500px;float:none;margin:auto;">
                    <p style="color:rgb(32,56,100);font-family:微软雅黑;font-size:20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp;
                        NLP（自然语言处理）是计算机以一种聪明而有用的方式分析
                        ，理解和从人类语言中获取意义的一种方式。通过利用NLP，开发者可以组织和构建知识来执行自动摘要，翻译，命名实体识
                        别，关系提取，情感分析，语音识别和话题分割等任务。</strong><br><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下为您展示了三个常见的自然语言处理功能，包括：中文分词，词性标注，命名实体识别。</strong><br>
                    </p>
                </div>
            </div>
            <div class="col-md-6 align-self-center"><img src="img/computer.png" width="500px" style="margin:0;"></div>
        </div>
    </div>
</div>
<div th:include="include::foot"/>
<div th:include="include::script"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<!--<script th:src="@{js/script.min.js}"></script>-->
</body>

</html>