<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"/>

<body>
<div class="navbar navbar-expand-md" style="background-color:rgb(47,86,39);height:56px;position:relative;"><a
        class="navbar-brand"
        style="width:340px;background-image:url(../img/logo.png);background-size:cover;height:40px;padding:10px 0px;margin:0 0 0 15px;"></a>
    <h4 style="color:rgb(255,255,255);font-family:Microsoft Yahei;margin:0 10px;font-weight:bold;">|</h4>
    <h4 style="color:rgb(255,255,255);font-family:Microsoft Yahei;margin:0;font-weight:bold;font-size:24px">注册</h4>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="width:1024px;border-radius:2px;background:#fff;margin:30px auto 0;text-align:center;min-height:430px;padding-top:10px;text-align:center;">
                    <h1 style="font-family:Microsoft Yahei;margin:0 0 20px 0;color:#4472c4;font-size: 40px">注 &nbsp;
                        &nbsp;册</h1>
                    <form id="form-user-signIn">
                        <div class="signIn">
                            <div class="ic" style="/*width:38px;*//*text-align:center;*/">
                                <i class="fa fa-user icon"></i></div>
                            <div>
                                <input id="userName" class="form-control input" type="text" placeholder="用户名">
                            </div>
                        </div>
                        <div class="signIn">
                            <div class="ic" style="/*width:38px;*//*text-align:center;*/">
                                <i class="fa fa-key icon"></i>
                            </div>
                            <div>
                                <input id="password" class="form-control input" type="password" placeholder="密码"></div>
                        </div>
                        <div class="signIn">
                            <div class="ic" style="/*width:38px;*//*text-align:center;*/">
                                <i class="fa fa-phone icon"></i></div>
                            <div>
                                <input id="phone" class="form-control input" type="tel" placeholder="手机号"></div>
                        </div>
                        <div class="signIn">
                            <div class="ic" style="/*width:38px;*//*text-align:center;*/">
                                <i class="fa fa-envelope-o icon"></i></div>
                            <div>
                                <input id="email" class="form-control input" type="email" placeholder="电子邮箱"></div>
                        </div>
                        <div class="signIn">
                            <div class="ic" style="/*width:38px;*//*text-align:center;*/">
                                <i class="fa fa-briefcase icon"></i></div>
                            <div>
                                <input id="works" class="form-control input" type="text" placeholder="学校/工作单位"></div>
                        </div>
                        <button id="signIn" class="btn btn-primary" type="button"
                                style="width:350px;font-size:24px;background-color:#4472c4;font-family:微软雅黑;margin-bottom:20px;">
                            注 &nbsp;册
                        </button>
                        <div class="signIn">
                            <p style="margin:0;">已有账号，</p>
                            <a href="login.html" style="font-size: 16px">立即登录</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::foot"/>
<div th:include="include::script"/>
</body>

</html>