<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="include::header"/>

<body>
<div th:include="common/top::top"/>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a href="../IRforEN/performance.html" class="navbar-brand brand">中文</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2" style="position:absolute;right: 500px;">
            <ul class="nav navbar-nav" style="margin:0 0 0 0px;">
                <li class="nav-item align-self-center" role="presentation" style="margin:0 5px;"><a
                        href="preProcessing.html" class="nav-link" style="color:rgb(0,0,0);">文档预处理</a></li>
                <li class="nav-item" role="presentation" style="margin:0 5px;"><a href="invertedIndex.html"
                                                                                  class="nav-link"
                                                                                  style="color:rgb(0,0,0);">倒排索引表</a>
                </li>
                <li class="dropdown" style="/*color:rgb(0,0,0);*/"><a data-toggle="dropdown" aria-expanded="false"
                                                                      href="#"
                                                                      class="dropdown-toggle nav-link dropdown-toggle"
                                                                      style="color:rgb(0,0,0);">文档检索</a>
                    <div role="menu" class="dropdown-menu" style="background-color:rgba(199,199,199,0.5);">
                        <a role="presentation" href="Retrieval/boolean.html" class="dropdown-item">布尔模型</a>
                        <a role="presentation" href="Retrieval/vectorSpaceModel.html" class="dropdown-item">向量空间模型</a>
                        <a role="presentation" href="Retrieval/probabilityModel.html" class="dropdown-item">概率检索模型</a>
                        <a role="presentation" href="Retrieval/languageModel.html" class="dropdown-item">语言模型</a></div>
                </li>
                <li role="presentation" class="nav-item align-self-center" style="margin:0 5px;"><a
                        href="performance.html" class="nav-link active"
                        style="color:rgb(0,0,0);font-style:normal;font-family:Microsoft Yahei;font-weight:normal;margin:0;height:30px;line-height:5px;border:solid;border-radius:10px;border-color:rgb(0,0,0);border-width:3px;">检索模型性能</a>
                </li>

            </ul>
        </div>
        <div style="height: 38px;display:-webkit-box;-ms-flex-wrap:wrap;flex-wrap:wrap;align-items:stretch;right:10px;float:right;margin:6px;">
            <div style="display:-webkit-box;display:flex;margin-right:-1px;"><span
                    style="display:-webkit-box;display:flex;align-items:center;padding: 0 10px;margin-bottom:0;font-size: 16px;font-weight:400;line-height:1.5;color:#495057;text-align:center;white-space:nowrap;background-color:#e9ecef;border:1px solid #ced4da;border-radius:.25rem;">请选择标准查询</span>
            </div>
            <select id="queryList" style="font-size:16px;height:38px;">
                <option value="6" selected="">我的世界合成表</option>
                <option value="1">广东会计信息服务平台</option>
                <option value="0">生死狙击好号和密码有金币</option>
                <option value="2">笔记本怎么开热点</option>
                <option value="7">购买火车票12306</option>
                <option value="3">风尘劫txt下载</option>
                <option value="5">澳门签证多久签一次</option>
                <option value="8">名捕震关东</option>
                <option value="4">广场舞一生兄弟一生情</option>
                <option value="9">qq群共享文件下载失败</option>
            </select>
            <div style="display:-webkit-box;display:flex;margin-left:-1px;">
                <button id="calculate" class="btn" type="button"
                        style="border-top-left-radius:0;border-bottom-left-radius:0; padding: 0px 10px;font-size: 16px;background-color: #71AB65;color:#ffffff">
                    计算
                </button>
            </div>
        </div>
    </div>
</nav>
<div style="margin: 10px 0 0 0;">
    <div class="container">
        <div class="row">
            <!--标准结果-->
            <div class="col-md-3">
                <div style="/*table-layout:auto;*/">
                    <ul class="nav nav-tabs"
                        style="/*nav-down:initial;*//*nav-left:inherit;*/font-size:15px;font-family:微软雅黑;font-weight:bold;">
                        <li class="nav-item" style="background-color:#c7c7c7;color:rgba(255,255,255,0);">
                            <a id="standardSorting" class="nav-link" role="tab" data-toggle="tab" href="#tab-11"
                               style="font-family:微软雅黑;">参考排序</a></li>
                        <li class="nav-item" style="background-color:#c7c7c7;/*font-family:微软雅黑;*/color:#4472c4;">
                            <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-12">介绍</a></li>
                    </ul>
                    <div class="tab-content"
                         style="overflow-x:hidden;font-family:微软雅黑;font-size:15px;margin:0;height:450px;">
                        <div class="tab-pane fade" role="tabpanel" id="tab-11">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th style="width:35px">排序</th>
                                        <th style="width:40px;">ID</th>
                                        <th>文档名</th>
                                        <th style="width: 50px">相关度</th>
                                    </tr>
                                    </thead>
                                    <tbody id='standard'></tbody>
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane fade show active" role="tabpanel" id="tab-12">
                            <p style="text-align: justify">
                                <strong>简介</strong><br>
                                采用相关的指标对布尔检索模型、向量空间模型、概率检索模型以及语言检索模型的检索结果进行测评。<br>
                                <br>
                                <strong>评价标准数据集</strong><br>
                                本研究采用搜狗实验室提供的标准数据集。<br><br>
                                <strong>指标介绍</strong><br>

                                1.针对单个查询式的检索性能评价指标<br>
                                （1）查准率（P值）：查准率=检出的相关文档数/检出文档数；P@5、p@10、p2@0分别表示检索结果的前5个、前
                                10个以及前20个的查准率。<br>
                                （2）查全率（R值）：召回率=检出的相关文档数/相关文档数；recall@5、recall@10、recall@20分别表示
                                检索结果的前5个、前10个以及前20个的召回率。<br>
                                （3）F1值：F1值是查准率和查全率的调和平均值，此时查准率和查全率的权重一样。<br>
                                （4）平均查准率（AP值）：对不同查全率点上的查准率进行平均。<br>
                                （5）NDCG值：NDCG是归一化折损累计增益，其根据文档在检索结果列表中的位置来测量文档的有用性或增益。增
                                益从结果列表的顶部累积到底部，每个结果的增益在较低等级处打折，然后进行求和，最后进行归一化处理；
                                NDCG@5、NDCG@10、NDCG@20分别表示检索结果的前5个、前10个以及前20个的归一化折损累计增益。<br>
                                2.平均检索性能评价指标<br>
                                平均检索性能评价指标，是对多个查询式（本系统使用10个）的检索性能评价指标求均值得到。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--检索器1-->
            <div class="col-md-3">
                <div style="/*table-layout:auto;*/">
                    <ul class="nav nav-tabs"
                        style="/*nav-down:initial;*//*nav-left:inherit;*/font-size:15px;font-family:微软雅黑;font-weight:bold;">
                        <li class="nav-item" style="background-color:#c7c7c7;color:rgba(255,255,255,0);">
                            <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-21"
                               style="font-family:微软雅黑;" onclick="getSearchResult(1)">结果</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;/*font-family:微软雅黑;*/color:#4472c4;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-22" onclick="getModelParam(1)">参数</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;/*font-family:微软雅黑;*/">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-23" onclick="getIndividual(1)">性能</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;/*font-family:微软雅黑;*/">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-24"
                               onclick="getAverage(1)">综合性能</a>
                        </li>
                    </ul>
                    <div class="tab-content"
                         style="overflow-x:hidden;font-family:微软雅黑;font-size:15px;margin:0;height:450px;">
                        <div class="tab-pane fade show active" role="tabpanel" id="tab-21" style="/*overflow:scroll;*/">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table style="width: 300px;table-layout: fixed">
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th style="width:35px">排序</th>
                                        <th style="width:40px;">ID</th>
                                        <th>文档名</th>
                                        <th style="width:70px">是否相关</th>
                                    </tr>
                                    </thead>
                                    <tbody id='result1'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-22">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='modelParam1'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-23">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='individual1'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-24">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='average1'></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--检索器2-->
            <div class="col-md-3">
                <div style="/*table-layout:auto;*/">
                    <ul class="nav nav-tabs"
                        style="/*nav-down:initial;*//*nav-left:inherit;*/font-size:15px;font-family:微软雅黑;font-weight:bold;">
                        <li class="nav-item" style="background-color:#c7c7c7;color:rgba(255,255,255,0);">
                            <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-31"
                               onclick="getSearchResult(2)">结果</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;color:#4472c4;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-32" onclick="getModelParam(2)">参数</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-33" onclick="getIndividual(2)">性能</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-34"
                               onclick="getAverage(2)">综合性能</a>
                        </li>
                    </ul>
                    <div class="tab-content"
                         style="overflow-x:hidden;font-family:微软雅黑;font-size:15px;margin:0;height:450px;">
                        <div class="tab-pane fade show active" role="tabpanel" id="tab-31" style="/*overflow:scroll;*/">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table style="width: 300px;table-layout: fixed">
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th style="width:35px">排序</th>
                                        <th style="width:40px;">ID</th>
                                        <th>文档名</th>
                                        <th style="width:70px">是否相关</th>
                                    </tr>
                                    </thead>
                                    <tbody id='result2'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-32">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='modelParam2'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-33">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='individual2'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-34">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='average2'></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--检索器3-->
            <div class="col-md-3">
                <div style="/*table-layout:auto;*/">
                    <ul class="nav nav-tabs"
                        style="/*nav-down:initial;*//*nav-left:inherit;*/font-size:15px;font-family:微软雅黑;font-weight:bold;">
                        <li class="nav-item" style="background-color:#c7c7c7;color:rgba(255,255,255,0);">
                            <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-41"
                               onclick="getSearchResult(3)">结果</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;color:#4472c4;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-42" onclick="getModelParam(3)">参数</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-43" onclick="getIndividual(3)">性能</a>
                        </li>
                        <li class="nav-item" style="background-color:#c7c7c7;">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-44"
                               onclick="getAverage(3)">综合性能</a>
                        </li>
                    </ul>
                    <div class="tab-content"
                         style="overflow-x:hidden;font-family:微软雅黑;font-size:15px;margin:0;height:450px;">
                        <div class="tab-pane fade show active" role="tabpanel" id="tab-41" style="/*overflow:scroll;*/">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table style="width: 300px;table-layout: fixed">
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th style="width:35px">排序</th>
                                        <th style="width:40px;">ID</th>
                                        <th>文档名</th>
                                        <th style="width:70px">是否相关</th>
                                    </tr>
                                    </thead>
                                    <tbody id='result3'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-42">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='modelParam3'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-43">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='individual3'></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="tab-44">
                            <div class="table-responsive miniTable"
                                 style="text-align:center;font-family:Microsoft Yahei;">
                                <table>
                                    <thead style="color:#000000;">
                                    <tr style="border-bottom:3px solid rgb(0,0,0)">
                                        <th>参数名</th>
                                        <th>参数值</th>
                                    </tr>
                                    </thead>
                                    <tbody id='average3'></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="include::foot"/>
</div>
<div th:include="include::script"/>
</body>
</html>