<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.mapper.FullIndexMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.entity.FullIndex" >
    <result column="term" property="term" jdbcType="VARCHAR" />
    <result column="df" property="df" jdbcType="INTEGER" />
    <result column="ids" property="ids" jdbcType="VARCHAR" />
    <result column="index_type" property="indexType" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.entity.FullIndex" >
    insert into full_index (term, df, ids, 
      index_type)
    values (#{term,jdbcType=VARCHAR}, #{df,jdbcType=INTEGER}, #{ids,jdbcType=VARCHAR}, 
      #{indexType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.entity.FullIndex" >
    insert into full_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="term != null" >
        term,
      </if>
      <if test="df != null" >
        df,
      </if>
      <if test="ids != null" >
        ids,
      </if>
      <if test="indexType != null" >
        index_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="term != null" >
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="df != null" >
        #{df,jdbcType=INTEGER},
      </if>
      <if test="ids != null" >
        #{ids,jdbcType=VARCHAR},
      </if>
      <if test="indexType != null" >
        #{indexType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>