<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.mapper.OpinionMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.entity.Opinion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="o_email" property="oEmail" jdbcType="VARCHAR" />
    <result column="o_phone" property="oPhone" jdbcType="VARCHAR" />
    <result column="o_content" property="oContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sign" property="sign" jdbcType="INTEGER" />
    <result column="call_by" property="callBy" jdbcType="INTEGER" />
    <result column="call_time" property="callTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, o_email, o_phone, o_content, create_time, sign, call_by, call_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from opinion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from opinion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.entity.Opinion" >
    insert into opinion (id, o_email, o_phone, o_content,
      create_time, sign, call_by, 
      call_time)
    values (#{id,jdbcType=INTEGER}, #{oEmail,jdbcType=VARCHAR}, #{oPhone,jdbcType=VARCHAR}, 
      #{oContent,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}, #{sign,jdbcType=INTEGER},
      #{callBy,jdbcType=INTEGER},#{callTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.entity.Opinion" >
    insert into opinion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oEmail != null" >
        o_email,
      </if>
      <if test="oPhone != null" >
        o_phone,
      </if>
      <if test="oContent != null" >
        o_content,
      </if>
        create_time,
      <if test="sign != null" >
        sign,
      </if>
      <if test="callBy != null" >
        call_by,
      </if>
      <if test="callTime != null" >
        call_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oEmail != null" >
        #{oEmail,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null" >
        #{oPhone,jdbcType=VARCHAR},
      </if>
      <if test="oContent != null" >
        #{oContent,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="sign != null" >
        #{sign,jdbcType=INTEGER},
      </if>
      <if test="callBy != null" >
        #{callBy,jdbcType=INTEGER},
      </if>
      <if test="callTime != null" >
        #{callTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.irlab.irep.entity.Opinion" >
    update opinion
    <set >
      <if test="oEmail != null" >
        o_email = #{oEmail,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null" >
        o_phone = #{oPhone,jdbcType=VARCHAR},
      </if>
      <if test="oContent != null" >
        o_content = #{oContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=INTEGER},
      </if>
      <if test="callBy != null" >
        call_by = #{callBy,jdbcType=INTEGER},
      </if>
        call_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.whu.irlab.irep.entity.Opinion" >
    update opinion
    set o_email = #{oEmail,jdbcType=VARCHAR},
      o_phone = #{oPhone,jdbcType=VARCHAR},
      o_content = #{oContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sign = #{sign,jdbcType=INTEGER},
      call_by = #{callBy,jdbcType=INTEGER},
      call_time = #{callTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List"/>
    from opinion
  </select>
</mapper>