<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.mybatis.mapper.ResultMapper">
    <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.mybatis.entity.Result">
        <result column="query_id" property="queryId" jdbcType="INTEGER"/>
        <result column="query" property="query" jdbcType="VARCHAR"/>
        <result column="doc_id" property="docId" jdbcType="INTEGER"/>
        <result column="doc_rank" property="docRank" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="retriever_id" property="retrieverId" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        query_id, query, doc_id, doc_rank, title, retriever_id,
      score
    </sql>

    <insert id="insert" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Result">
    insert into result (query_id, query, doc_id, 
      doc_rank, title, retriever_id, 
      score)
    values (#{queryId,jdbcType=INTEGER}, #{query,jdbcType=VARCHAR}, #{docId,jdbcType=INTEGER}, 
      #{docRank,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{retrieverId,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Result">
        insert into result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="queryId != null">
                query_id,
            </if>
            <if test="query != null">
                query,
            </if>
            <if test="docId != null">
                doc_id,
            </if>
            <if test="docRank != null">
                doc_rank,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="retrieverId != null">
                retriever_id,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="queryId != null">
                #{queryId,jdbcType=INTEGER},
            </if>
            <if test="query != null">
                #{query,jdbcType=VARCHAR},
            </if>
            <if test="docId != null">
                #{docId,jdbcType=INTEGER},
            </if>
            <if test="docRank != null">
                #{docRank,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="retrieverId != null">
                #{retrieverId,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="select" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Result" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from result
        <where>
            <if test="queryId != null">
                and query_id= #{queryId,jdbcType=INTEGER}
            </if>
            <if test="query != null and query != ''">
                and query= #{query,jdbcType=VARCHAR}
            </if>
            <if test="docId != null and docId != ''">
                and doc_id= #{docId,jdbcType=INTEGER}
            </if>
            <if test="docRank != null and docRank != ''">
                and doc_rank= #{docRank,jdbcType=INTEGER}
            </if>
            <if test="title != null and title != ''">
                and title= #{title,jdbcType=VARCHAR}
            </if>
            <if test="retrieverId != null and retrieverId != ''">
                and retriever_id= #{retrieverId,jdbcType=VARCHAR}
            </if>
            <if test="score != null and score != ''">
                and score= #{score,jdbcType=INTEGER}
            </if>
        </where>
    </select>

</mapper>