<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.base.mapper.ResultMapper">
    <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.base.entity.Result">
        <result column="query_id" property="queryId" jdbcType="INTEGER"/>
        <result column="doc_id" property="docId" jdbcType="INTEGER"/>
        <result column="doc_rank" property="docRank" jdbcType="INTEGER"/>
        <result column="retriever_id" property="retrieverId" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="is_existing" property="isExisting" jdbcType="BIT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert" parameterType="cn.edu.whu.irlab.irep.base.entity.Result">
    insert into result (query_id, doc_id, doc_rank, 
      retriever_id, score, is_existing,title
      )
    values (#{queryId,jdbcType=INTEGER}, #{docId,jdbcType=INTEGER}, #{docRank,jdbcType=INTEGER}, 
      #{retrieverId,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{isExisting,jdbcType=BIT},#{title,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.base.entity.Result">
        insert into result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="queryId != null">
                query_id,
            </if>
            <if test="docId != null">
                doc_id,
            </if>
            <if test="docRank != null">
                doc_rank,
            </if>
            <if test="retrieverId != null">
                retriever_id,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="isExisting != null">
                is_existing,
            </if>
            <if test="title != null">
                title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="queryId != null">
                #{queryId,jdbcType=INTEGER},
            </if>
            <if test="docId != null">
                #{docId,jdbcType=INTEGER},
            </if>
            <if test="docRank != null">
                #{docRank,jdbcType=INTEGER},
            </if>
            <if test="retrieverId != null">
                #{retrieverId,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="isExisting != null">
                #{isExisting,jdbcType=BIT},
            </if>
            <if test="title != null">
                #{title,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="select" parameterType="cn.edu.whu.irlab.irep.base.entity.Result" resultMap="BaseResultMap">
        select * from result
        <where>
            <if test="queryId != null">
                and query_id= #{queryId,jdbcType=INTEGER}
            </if>
            <if test="docId != null and docId != ''">
                and doc_id= #{docId,jdbcType=INTEGER}
            </if>
            <if test="docRank != null and docRank != ''">
                and doc_rank= #{docRank,jdbcType=INTEGER}
            </if>
            <if test="retrieverId != null and retrieverId != ''">
                and retriever_id= #{retrieverId,jdbcType=VARCHAR}
            </if>
            <if test="score != null and score != ''">
                and score= #{score,jdbcType=INTEGER}
            </if>
            <if test="isExisting != null">
                and is_existing= #{isExisting,jdbcType=BIT},
            </if>
            <if test="title != null">
                and title= #{isExisting,jdbcType=BIT},
            </if>
        </where>
    </select>

    <insert id="insertForEach" parameterType="java.util.List" useGeneratedKeys="false">
        insert into result
        (query_id, doc_id, doc_rank, retriever_id, score, is_existing,title)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.queryId,jdbcType=INTEGER}, #{item.docId,jdbcType=INTEGER}, #{item.docRank,jdbcType=INTEGER},
            #{item.retrieverId,jdbcType=VARCHAR}, #{item.score,jdbcType=INTEGER},
            #{item.isExisting,jdbcType=BIT},#{item.title,jdbcType=VARCHAR}
            )
        </foreach>

    </insert>
</mapper>