<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.mybatis.mapper.RetrieverMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.mybatis.entity.Retriever" >
    <id column="retriever_id" property="retrieverId" jdbcType="VARCHAR" />
    <result column="is_chinese" property="isChinese" jdbcType="BIT" />
    <result column="analyzer" property="analyzer" jdbcType="VARCHAR" />
    <result column="is_remove_stop_word" property="isRemoveStopWord" jdbcType="BIT" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="formula_id" property="formulaId" jdbcType="INTEGER" />
    <result column="param_name1" property="paramName1" jdbcType="VARCHAR" />
    <result column="param1" property="param1" jdbcType="INTEGER" />
    <result column="param_name2" property="paramName2" jdbcType="VARCHAR" />
    <result column="param2" property="param2" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    retriever_id, is_chinese, analyzer, is_remove_stop_word, model, formula_id, param_name1, 
    param1, param_name2, param2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from retriever
    where retriever_id = #{retrieverId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from retriever
    where retriever_id = #{retrieverId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Retriever" >
    insert into retriever (retriever_id, is_chinese, analyzer, 
      is_remove_stop_word, model, formula_id, 
      param_name1, param1, param_name2, 
      param2)
    values (#{retrieverId,jdbcType=VARCHAR}, #{isChinese,jdbcType=BIT}, #{analyzer,jdbcType=VARCHAR}, 
      #{isRemoveStopWord,jdbcType=BIT}, #{model,jdbcType=VARCHAR}, #{formulaId,jdbcType=INTEGER}, 
      #{paramName1,jdbcType=VARCHAR}, #{param1,jdbcType=INTEGER}, #{paramName2,jdbcType=VARCHAR}, 
      #{param2,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Retriever" >
    insert into retriever
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="retrieverId != null" >
        retriever_id,
      </if>
      <if test="isChinese != null" >
        is_chinese,
      </if>
      <if test="analyzer != null" >
        analyzer,
      </if>
      <if test="isRemoveStopWord != null" >
        is_remove_stop_word,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="formulaId != null" >
        formula_id,
      </if>
      <if test="paramName1 != null" >
        param_name1,
      </if>
      <if test="param1 != null" >
        param1,
      </if>
      <if test="paramName2 != null" >
        param_name2,
      </if>
      <if test="param2 != null" >
        param2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="retrieverId != null" >
        #{retrieverId,jdbcType=VARCHAR},
      </if>
      <if test="isChinese != null" >
        #{isChinese,jdbcType=BIT},
      </if>
      <if test="analyzer != null" >
        #{analyzer,jdbcType=VARCHAR},
      </if>
      <if test="isRemoveStopWord != null" >
        #{isRemoveStopWord,jdbcType=BIT},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="formulaId != null" >
        #{formulaId,jdbcType=INTEGER},
      </if>
      <if test="paramName1 != null" >
        #{paramName1,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=INTEGER},
      </if>
      <if test="paramName2 != null" >
        #{paramName2,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Retriever" >
    update retriever
    <set >
      <if test="isChinese != null" >
        is_chinese = #{isChinese,jdbcType=BIT},
      </if>
      <if test="analyzer != null" >
        analyzer = #{analyzer,jdbcType=VARCHAR},
      </if>
      <if test="isRemoveStopWord != null" >
        is_remove_stop_word = #{isRemoveStopWord,jdbcType=BIT},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="formulaId != null" >
        formula_id = #{formulaId,jdbcType=INTEGER},
      </if>
      <if test="paramName1 != null" >
        param_name1 = #{paramName1,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        param1 = #{param1,jdbcType=INTEGER},
      </if>
      <if test="paramName2 != null" >
        param_name2 = #{paramName2,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        param2 = #{param2,jdbcType=INTEGER},
      </if>
    </set>
    where retriever_id = #{retrieverId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.whu.irlab.irep.mybatis.entity.Retriever" >
    update retriever
    set is_chinese = #{isChinese,jdbcType=BIT},
      analyzer = #{analyzer,jdbcType=VARCHAR},
      is_remove_stop_word = #{isRemoveStopWord,jdbcType=BIT},
      model = #{model,jdbcType=VARCHAR},
      formula_id = #{formulaId,jdbcType=INTEGER},
      param_name1 = #{paramName1,jdbcType=VARCHAR},
      param1 = #{param1,jdbcType=INTEGER},
      param_name2 = #{paramName2,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=INTEGER}
    where retriever_id = #{retrieverId,jdbcType=VARCHAR}
  </update>
</mapper>