<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.base.mapper.UserScoreMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.base.entity.UserScore" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="exam1_score" property="exam1Score" jdbcType="INTEGER" />
    <result column="exam2_score" property="exam2Score" jdbcType="INTEGER" />
    <result column="exam3_score" property="exam3Score" jdbcType="INTEGER" />
    <result column="exam4_score" property="exam4Score" jdbcType="INTEGER" />
    <result column="exam5_score" property="exam5Score" jdbcType="INTEGER" />
    <result column="sum_score" property="sumScore" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.base.entity.UserScore" >
    insert into user_score (id, user_id, exam1_score, 
      exam2_score, exam3_score, exam4_score, 
      exam5_score, sum_score)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{exam1Score,jdbcType=INTEGER}, 
      #{exam2Score,jdbcType=INTEGER}, #{exam3Score,jdbcType=INTEGER}, #{exam4Score,jdbcType=INTEGER}, 
      #{exam5Score,jdbcType=INTEGER}, #{sumScore,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.base.entity.UserScore" >
    insert into user_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="exam1Score != null" >
        exam1_score,
      </if>
      <if test="exam2Score != null" >
        exam2_score,
      </if>
      <if test="exam3Score != null" >
        exam3_score,
      </if>
      <if test="exam4Score != null" >
        exam4_score,
      </if>
      <if test="exam5Score != null" >
        exam5_score,
      </if>
      <if test="sumScore != null" >
        sum_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="exam1Score != null" >
        #{exam1Score,jdbcType=INTEGER},
      </if>
      <if test="exam2Score != null" >
        #{exam2Score,jdbcType=INTEGER},
      </if>
      <if test="exam3Score != null" >
        #{exam3Score,jdbcType=INTEGER},
      </if>
      <if test="exam4Score != null" >
        #{exam4Score,jdbcType=INTEGER},
      </if>
      <if test="exam5Score != null" >
        #{exam5Score,jdbcType=INTEGER},
      </if>
      <if test="sumScore != null" >
        #{sumScore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>