<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.whu.irlab.irep.mapper.UserRetrieverMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.whu.irlab.irep.entity.UserRetriever" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="retriever1" property="retriever1" jdbcType="VARCHAR" />
    <result column="retriever2" property="retriever2" jdbcType="VARCHAR" />
    <result column="retriever3" property="retriever3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, retriever1, retriever2, retriever3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_retriever
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_retriever
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.whu.irlab.irep.entity.UserRetriever" >
    insert into user_retriever (user_id, retriever1, retriever2, 
      retriever3)
    values (#{userId,jdbcType=INTEGER}, #{retriever1,jdbcType=VARCHAR}, #{retriever2,jdbcType=VARCHAR}, 
      #{retriever3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.whu.irlab.irep.entity.UserRetriever" >
    insert into user_retriever
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="retriever1 != null" >
        retriever1,
      </if>
      <if test="retriever2 != null" >
        retriever2,
      </if>
      <if test="retriever3 != null" >
        retriever3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="retriever1 != null" >
        #{retriever1,jdbcType=VARCHAR},
      </if>
      <if test="retriever2 != null" >
        #{retriever2,jdbcType=VARCHAR},
      </if>
      <if test="retriever3 != null" >
        #{retriever3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.irlab.irep.entity.UserRetriever" >
    update user_retriever
    <set >
      <if test="retriever1 != null" >
        retriever1 = #{retriever1,jdbcType=VARCHAR},
      </if>
      <if test="retriever2 != null" >
        retriever2 = #{retriever2,jdbcType=VARCHAR},
      </if>
      <if test="retriever3 != null" >
        retriever3 = #{retriever3,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.whu.irlab.irep.entity.UserRetriever" >
    update user_retriever
    set retriever1 = #{retriever1,jdbcType=VARCHAR},
      retriever2 = #{retriever2,jdbcType=VARCHAR},
      retriever3 = #{retriever3,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>